.quickViewImage {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 0.5px solid gray;

  z-index: 9000000;

  overflow-y: scroll;

  background-color: var(--websiteContainerColor);

  // white background-image that differs pop-up from other elements
  .quickViewBackground {
    cursor: pointer;
    width: 100%;
    height: 100%;
  }

  .quickViewImageContainer {
    padding: var(--spacing-1);
    display: flex;
    justify-content: flex-start;
    position: absolute;

    z-index: 100;

    width: 100%;
    height: 100%;

    outline: 0.5px solid black;

    // currentActiveImage
    .activeImageWrapper {
      width: 50%;
      padding: var(--spacing-1);

      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      .activeImage {
      }
    }
    .infoWrapper {
      width: 50%;
      display: flex;
      flex-direction: column;
    }
  }
}

// QuickViewInfo
.infoSection {
  padding: var(--spacing-1);
  padding-right: var(--spacing-2);

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  .productTitleAndPriceWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: var(--spacing-4);

    // infoProductTitle
    .info {
      font-variation-settings: "wght" 350;
      padding: var(--spacing-1);
    }

    // infoProductPrice
    .price {
      font-variation-settings: "wght" 300;
      padding: var(--spacing-1);
    }
  }

  // allImagesRelatedToQuickViewImage
  .allImagesExamples {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    border-bottom: 0.5px solid gray;
    padding-bottom: var(--spacing-1);

    .imageExample {
      max-width: 250px;
      max-height: 100px;

      padding: var(--spacing-1);

      cursor: pointer;
    }
  }

  // currentImageBioText
  .currentImageBioText {
  }

  .buttonText {
    font-variation-settings: "wght" 550;
  }
}

// ProductDescription
.productDescription {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-top: var(--spacing-2);

  .buttonDescriptionButton {
    cursor: pointer;
    border: none;
    background-color: white;

    padding-bottom: var(--spacing-2);

    // expandDescriptionButton
    .buttonDescriptionButtonText {
      display: flex;
      align-items: center;

      font-variation-settings: "wght" 450;
      padding-bottom: 5px;

      .descriptionSvgContainer {
        padding-top: var(--spacing-1);
        padding-left: var(--spacing-1);

        transition: transform 0.4s ease;
        // helps SVG to look more middle-placed
        transform: translateY(1px);
        transform-origin: center;

        &.arrowFaceIn {
          transform: rotateX(180deg) translateY(-3px);
        }
      }
    }
  }

  // expandDescriptionText
  .descriptionWrapper {
    transition: height 0.4s ease;

    &.open {
      height: 250px;
    }

    &.closed {
      height: 0px;
    }

    .descriptionText {
      &.open {
      }

      &.closed {
      }
    }
  }
}

// ViewProductButton
.viewProductButtonWrapper {
  height: 100px;
  width: 100%;

  padding: var(--spacing-1);

  display: flex;
  align-items: flex-end;

  .viewProductButton {
    cursor: pointer;
    width: 100%;
    height: 40px;
  }
}
