.quickViewImage {
  position: fixed;
  top: 0;
  left: 0;
  scroll-behavior: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid gray;
  z-index: 9000000;
}
.quickViewImage .quickViewBackground {
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: rgba(70, 70, 70, 0.388);
  scroll-behavior: none;
}
.quickViewImage .quickViewImageContainer {
  padding: var(--spacing-1);
  display: flex;
  justify-content: flex-start;
  position: absolute;
  z-index: 100;
  max-width: 700px;
  max-height: 550px;
  height: 100%;
  background-color: white;
  outline: 0.5px solid black;
  overflow: hidden;
}
.quickViewImage .quickViewImageContainer .activeImageWrapper {
  width: 50%;
  padding: var(--spacing-1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.quickViewImage .quickViewImageContainer .infoWrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.infoSection {
  padding: var(--spacing-1);
  padding-right: var(--spacing-2);
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.infoSection .productTitleAndPriceWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-4);
}
.infoSection .productTitleAndPriceWrapper .info {
  font-variation-settings: "wght" 350;
  padding: var(--spacing-1);
}
.infoSection .productTitleAndPriceWrapper .price {
  font-variation-settings: "wght" 300;
  padding: var(--spacing-1);
}
.infoSection .allImagesExamples {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 0.5px solid gray;
  padding-bottom: var(--spacing-1);
}
.infoSection .allImagesExamples .imageExample {
  max-width: 250px;
  max-height: 100px;
  padding: var(--spacing-1);
  cursor: pointer;
}
.infoSection .buttonText {
  font-variation-settings: "wght" 550;
}

.productDescription {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: var(--spacing-2);
}
.productDescription .buttonDescriptionButton {
  cursor: pointer;
  border: none;
  background-color: white;
  padding-bottom: var(--spacing-2);
}
.productDescription .buttonDescriptionButton .buttonDescriptionButtonText {
  display: flex;
  align-items: center;
  font-variation-settings: "wght" 450;
  padding-bottom: 5px;
}
.productDescription .buttonDescriptionButton .buttonDescriptionButtonText .descriptionSvgContainer {
  padding-top: var(--spacing-1);
  padding-left: var(--spacing-1);
  transition: transform 0.4s ease;
  transform: translateY(1px);
  transform-origin: center;
}
.productDescription .buttonDescriptionButton .buttonDescriptionButtonText .descriptionSvgContainer.arrowFaceIn {
  transform: rotateX(180deg) translateY(-3px);
}
.productDescription .descriptionWrapper {
  overflow: hidden;
  transition: height 0.4s ease;
}
.productDescription .descriptionWrapper.open {
  height: 250px;
}
.productDescription .descriptionWrapper.closed {
  height: 0px;
}
.viewProductButtonWrapper {
  height: 100px;
  width: 100%;
  padding: var(--spacing-1);
  display: flex;
  align-items: flex-end;
}
.viewProductButtonWrapper .viewProductButton {
  cursor: pointer;
  width: 100%;
  height: 40px;
}/*# sourceMappingURL=quickViewImage.module.css.map */