// QuickViewImage
.quickViewImage {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 9000000;

  overflow-y: scroll;

  background-color: var(--websiteContainerColor);
}

// DisplayProductContainer
.quickViewImageContainer {
  padding: var(--spacing-1);
  display: flex;
  justify-content: flex-start;

  width: 100%;
  height: 100%;
}

// Info
.infoWrapper {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;

  padding: var(--spacing-2) var(--spacing-3);
}

// ActiveImage
.activeImageWrapper {
  width: 50%;
  height: 91%;
  padding: var(--spacing-1);

  border-radius: var(--spacing-1);
  background-color: var(--c-grey-100);

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  .activeImage {
    border-radius: var(--spacing-1);
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.extendedInfo {
  width: 100%;
}

.bioTypeText {
  font-variation-settings: "wght" 300;
}

.titleTypeText {
  font-variation-settings: "wght" 300;
}

.paddingTop4 {
  padding-top: var(--spacing-4);
}
