.quickViewImage {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 0.5px solid gray;

  z-index: 9000000;

  overflow-y: scroll;

  background-color: var(--websiteContainerColor);

  // white background-image that differs pop-up from other elements
  .quickViewBackground {
    cursor: pointer;
    width: 100%;
    height: 100%;
  }

  .quickViewImageContainer {
    padding: var(--spacing-1);
    display: flex;
    justify-content: flex-start;
    position: absolute;

    z-index: 100;

    width: 100%;
    height: 100%;

    outline: 0.5px solid black;

    // currentActiveImage
    .activeImageWrapper {
      width: 50%;
      padding: var(--spacing-1);

      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      .activeImage {
      }
    }
    .infoWrapper {
      width: 60%;
      display: flex;
      flex-direction: column;
    }
  }
}

// QuickViewInfo
.infoSection {
  padding: var(--spacing-7);
  padding-right: var(--spacing-2);

  display: flex;
  flex-direction: column;

  width: 100%;

  .productTitleAndPriceWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: var(--spacing-4) 0px;

    // infoProductTitle
    .info {
      font-variation-settings: "wght" 350;
    }

    // infoProductPrice
    .price {
      font-variation-settings: "wght" 300;
      padding: var(--spacing-1) 0px;
    }
  }

  // allImagesRelatedToQuickViewImage
  .allImagesExamples {
    width: fit-content;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-3);
    flex-wrap: wrap;

    padding: var(--spacing-2) 0px;

    .imageExample {
      width: var(--spacing-7);
      height: var(--spacing-6);

      border-radius: var(--spacing-1);

      cursor: pointer;

      object-fit: cover;
      object-position: center;
    }
  }

  // currentImageBioText
  .currentImageBioText {
  }

  .buttonText {
    font-variation-settings: "wght" 550;
  }
}

// ProductDescription
.productDescription {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-top: var(--spacing-2);
  border-bottom: 0.5px solid var(--c-grey-200);
  border-top: 0.5px solid var(--c-grey-200);
  padding: var(--spacing-2) 0px;

  .info {
    display: flex;
    flex-wrap: wrap;

    .entryContainer {
      padding: var(--spacing-4) var(--spacing-3);
      border-left: 0.5px solid var(--c-grey-200);

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      &:first-of-type {
        border: none; // because borders are only on left side; last-of-type is not needed
      }

      .value {
        font-variation-settings: "wght" 400;
        margin-top: -8px;
      }

      .refContainer {
        display: flex;

        gap: var(--spacing-1);

        .ref {
          border-radius: var(--spacing-1);
          height: 30px;
          width: 30px;

          border: 0.5px solid var(--c-grey-300);
        }
      }

      .entry {
        font-variation-settings: "wght" 300;
      }
    }
  }

  .buttonDescriptionButton {
    cursor: pointer;
    border: none;
    background-color: white;

    padding-bottom: var(--spacing-2);

    // expandDescriptionButton
    .buttonDescriptionButtonText {
      display: flex;
      align-items: center;

      font-variation-settings: "wght" 450;
      padding-bottom: 5px;

      .descriptionSvgContainer {
        padding-top: var(--spacing-1);
        padding-left: var(--spacing-1);

        transition: transform 0.4s ease;
        // helps SVG to look more middle-placed
        transform: translateY(1px);
        transform-origin: center;

        &.arrowFaceIn {
          transform: rotateX(180deg) translateY(-3px);
        }
      }
    }
  }

  // expandDescriptionText
  .descriptionWrapper {
    transition: height 0.4s ease;

    &.open {
      height: 250px;
    }

    &.closed {
      height: 0px;
    }

    .descriptionText {
      &.open {
      }

      &.closed {
      }
    }
  }
}

// ViewProductButton
.viewProductButtonWrapper {
  height: 100px;
  width: 100%;

  padding: var(--spacing-1);

  display: flex;
  align-items: flex-end;

  .viewProductButton {
    cursor: pointer;
    width: 100%;
    height: 40px;
  }
}
