.extendedProductInfo {
  height: 100%;
  width: 80%;

  .extendedSectionOne {
    display: flex;
    justify-content: space-between;
  }

  .extendedSectionTwo {
    padding: var(--spacing-4) 0px;
    height: clamp(250px, 30vw, 400px);
  }
}

.infoWrapper {
  display: flex;
  flex-direction: column;

  gap: var(--spacing-2);

  width: 40%;

  .infoTitle {
  }
}

.description {
  width: 50%;
  padding: var(--spacing-1) 0px;

  .textWrapper {
    margin-top: var(--spacing-1);
  }
}

.elWrapper {
  border-bottom: 0.5px solid var(--c-grey-200);

  display: flex;
  justify-content: space-between;

  padding: var(--spacing-1) 0px;
}

.guide {
  .imageContainer {
    width: fit-content;
    height: fit-content;

    position: relative;
    left: -4%;
    .frameSizeImage {
      position: relative;
      object-fit: contain;
      z-index: 1;
    }

    .frameMeasurements {
      position: absolute;
      top: 0;

      width: 100%;
      height: 100%;
      z-index: 10;

      &::after,
      &::before {
        content: "";
        position: absolute;
      }

      &::before {
        width: 80%;

        left: 10%;
        bottom: -5%;
        border-top: var(--c-grey-200) solid 2px;

        content: "Frame width: w + 5 cm";
        font-style: italic;
      }

      &::after {
        height: 90%;
        right: 10%;
        top: 5%;

        border-left: var(--c-grey-200) solid 2px;

        content: "Frame height: h + 10 cm";
        font-style: italic;

        transform: translateX(100%);
        padding-left: var(--spacing-1);
      }
    }

    .height,
    .width {
      padding: 0px var(--spacing-1);
      position: absolute;

      .text {
        .span {
          font-style: italic;
        }
      }
    }

    .height {
      right: -33%;
      top: 11%;
    }

    .width {
      left: 16%;
      bottom: -12%;
    }

    &::after,
    &::before {
      z-index: 2;
      position: absolute;
      background-color: var(--c-grey-200);
      content: "";
    }

    &::after {
      width: 65%;
      height: 2px;
      bottom: -6%;
      left: 17.5%;
    }

    &::before {
      height: 75%;
      width: 2px;
      right: 2.5%;
      top: 12.5%;
    }
  }
}
