// ExtendedProductInfo
.extendedProductInfo {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: 50% 50%;

  .extendedSectionOne {
    display: flex;
    flex-direction: column;

    width: 25%;
    min-width: 130px;

    grid: 1 / 1;

    position: relative;

    .sticky {
      position: sticky;
      top: var(--spacing-4);
    }
  }

  .extendedSectionTwo {
    grid: 2 / 1;

    position: relative;
    padding-bottom: var(--spacing-6);
    padding-top: calc(var(--spacing-8) * 1.8);

    .sticky {
      position: sticky;
      top: var(--spacing-4);
    }
  }

  .extendedImages {
    // for mapped images
    .imagesContainer {
      display: flex;
      flex-wrap: wrap;

      .imageWrapper {
        width: 50%;

        border-top: 140px solid var(--websiteContainerColor);

        &:nth-child(even) {
          border-left: 70px solid var(--websiteContainerColor);
        }

        &:nth-child(odd) {
          border-right: 70px solid var(--websiteContainerColor);
        }

        &:nth-of-type(2) {
        }
      }
    }

    .imageWrapper {
      background-color: var(--c-grey-100);
      padding: var(--spacing-8) 0px;

      img {
        padding: 0px var(--spacing-8);
      }
    }
  }

  .initialImageWrapper {
    border-left: 70px solid var(--websiteContainerColor);
    grid: 1 / 2;
  }

  .secondImageWrapper {
    border-top: 140px solid var(--websiteContainerColor);
    border-left: 70px solid var(--websiteContainerColor);

    grid: 2 / 2;
  }

  .restImagesWrapper {
    grid-column: 1 / 3;
  }
}

// Info
.info {
  display: flex;
  flex-direction: column;
  padding-bottom: var(--spacing-3);
}

// Guide
.guide {
  .title {
  }

  .imageContainer {
    width: fit-content;
    height: fit-content;

    min-width: 200px;

    position: relative;
    left: -4%;
    .frameSizeImage {
      position: relative;
      object-fit: contain;
      z-index: 1;
    }

    .frameMeasurements {
      position: absolute;
      top: 0;

      width: 100%;
      height: 100%;
      z-index: 10;

      &::after,
      &::before {
        content: "";
        position: absolute;

        font-size: clamp(0.8rem, 0.75rem + 0.1vw, 0.85rem);
        font-variation-settings: "wght" 200;
        font-style: italic;
      }

      &::before {
        width: 80%;

        left: 10%;
        bottom: -5%;
        border-top: var(--c-grey-200) solid 2px;

        content: "Frame width: w + 5 cm";
      }

      &::after {
        height: 90%;
        right: 10%;
        top: 5%;

        border-left: var(--c-grey-200) solid 2px;

        content: "Frame height: h + 10 cm";

        transform: translateX(100%);
        padding-left: var(--spacing-1);
      }
    }

    .height,
    .width {
      padding: 0px var(--spacing-1);
      position: absolute;

      list-style: none;

      .text {
        &::first-letter {
          text-transform: capitalize;
        }
        font-style: italic;

        font-size: clamp(0.8rem, 0.75rem + 0.1vw, 0.85rem);
        font-variation-settings: "wght" 200;
      }
    }

    .height {
      left: 100%;
      top: 11%;
      width: 100%;
    }

    .width {
      left: 16%;
      bottom: -13%;
    }

    &::after,
    &::before {
      z-index: 2;
      position: absolute;
      background-color: var(--c-grey-200);
      content: "";
    }

    &::after {
      width: 65%;
      height: 2px;
      bottom: -6%;
      left: 17.5%;
    }

    &::before {
      height: 75%;
      width: 2px;
      right: 2.5%;
      top: 12.5%;
    }
  }
}

// DescriptionElement
.elWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: var(--spacing-2) 0px;

  width: 100%;

  .title {
    padding-bottom: var(--spacing-1);
  }

  .entry {
    display: flex;
    justify-content: space-between;

    font-size: clamp(0.8rem, 0.75rem + 0.1vw, 0.85rem);
    font-variation-settings: "wght" 200;
    list-style: none;

    padding: calc(var(--spacing-1) / 10) 0px;

    .value {
      width: 50%;
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  padding-bottom: var(--spacing-2);
}

.title {
  font-size: clamp(0.88rem, 0.3rem + 0.1vw, 0.92rem);
  font-variation-settings: "wght" 150;
}

@media screen and (max-width: 1024px) {
  .extendedProductInfo {
    .extendedSectionOne,
    .extendedSectionTwo {
      height: 400px;
    }

    .extendedSectionOne {
      .sticky {
        top: 50px;
      }
    }

    .extendedSectionTwo {
      grid-row: 1;
      grid-column: 2;

      padding-bottom: var(--spacing-5);
      padding-top: 0;
      .sticky {
        top: 50px;

        .guide {
          .imageContainer {
            width: 30vw;
          }
        }
      }
    }

    .extendedImages {
      border-left: none;
      // for mapped images
      .imagesContainer {
        .imageWrapper {
          &:nth-child(even) {
            border-left: 20px solid var(--websiteContainerColor);
          }

          &:nth-child(odd) {
            border-right: 20px solid var(--websiteContainerColor);
          }
        }
      }

      .imageWrapper {
        width: 100%;
        height: 100%;
        padding-top: var(--spacing-3);
        border-top: 30px solid var(--websiteContainerColor) !important;

        img {
          padding: var(--spacing-3);
        }
      }
    }

    .initialImageWrapper {
      grid-row: 2;
      border-right: 20px solid var(--websiteContainerColor);
    }

    .secondImageWrapper {
      border: none;
      border-left: 20px solid var(--websiteContainerColor);
    }

    .restImagesWrapper {
    }
  }
}

@media screen and (max-width: 650px) {
  .extendedProductInfo {
    grid-template-columns: 100%;
    .extendedSectionOne {
      grid-row: 1;
      grid-column: 1;
      .sticky {
      }
    }

    .extendedSectionTwo {
      grid-row: 2;
      grid-column: 1;
      .sticky {
      }
    }

    .extendedImages {
      grid-column: 1;
      grid-row: 5;
      // for mapped images
      .imagesContainer {
        display: flex;
        flex-direction: column;
        .imageWrapper {
          border: none;
          width: 100%;

          &:nth-child(even) {
            border-left: none;
          }

          &:nth-child(odd) {
            border-right: none;
          }

          &:nth-of-type(2) {
          }
        }
      }
      .imageWrapper {
        img {
        }
      }
    }

    .initialImageWrapper {
      grid-column: 1;
      grid-row: 3;
      border-right: none;
    }

    .secondImageWrapper {
      grid-column: 1;
      grid-row: 4;
      border-left: none;
    }

    .restImagesWrapper {
    }
  }
}

@media screen and (max-width: 450px) {
  .extendedSectionTwo {
    display: none;
  }
}
