.extendedProductInfo {
  height: 100%;
  width: 80%;

  .extendedSectionOne {
    display: flex;
    justify-content: space-between;
  }

  .extendedSectionTwo {
    padding: var(--spacing-4) 0px;
    height: clamp(250px, 30vw, 400px);
  }
}

.infoWrapper {
  display: flex;
  flex-direction: column;

  gap: var(--spacing-2);

  width: 40%;

  .infoTitle {
  }
}

.description {
  width: 50%;
  padding: var(--spacing-1) 0px;

  .textWrapper {
    margin-top: var(--spacing-1);
  }
}

.elWrapper {
  border-bottom: 0.5px solid var(--c-grey-200);

  display: flex;
  justify-content: space-between;

  padding: var(--spacing-1) 0px;
}

.guide {
  .imageContainer {
    width: fit-content;
    height: fit-content;

    position: relative;
    .frameSizeImage {
      position: relative;
      object-fit: contain;
      z-index: 1;
    }

    .height,
    .width {
      padding: 0px var(--spacing-1);
      position: absolute;
      border-bottom: 2px solid var(--c-grey-200);

      .text {
        .span {
          font-style: italic;
        }
      }
    }

    .height {
      right: -25%;
      top: 43%;
    }

    .width {
      left: 43%;
      bottom: -11%;
    }

    &::after,
    &::before {
      z-index: 2;
      position: absolute;
      background-color: var(--c-grey-200);
      content: "";
    }

    &::after {
      width: 97%;
      height: 2px;
      bottom: 0%;
      left: 0;
    }

    &::before {
      height: 97%;
      width: 2px;
      right: 0%;
      top: 0;
    }
  }
}
