.extendedProductInfo {
  height: 100%;
  width: 80%;

  display: flex;
  justify-content: space-between;
}

.infoWrapper {
  display: flex;
  flex-direction: column;

  gap: var(--spacing-2);

  width: 40%;

  .infoTitle {
  }
}

.description {
  width: 50%;
  padding: var(--spacing-1) 0px;

  .textWrapper {
    margin-top: var(--spacing-1);
  }
}

.elWrapper {
  border-bottom: 0.5px solid var(--c-grey-200);

  display: flex;
  justify-content: space-between;

  padding: var(--spacing-1) 0px;
}

.bioText {
}

.textWeight {
  font-variation-settings: "wght" 350;
}
