// ExtendedProductInfo
.extendedProductInfo {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: 50% 50%;

  .extendedSectionOne {
    display: flex;
    flex-direction: column;

    width: 200px;

    grid: 1 / 1;

    position: relative;

    padding-bottom: var(--spacing-8);

    .sticky {
      position: sticky;
      top: var(--spacing-4);
    }
  }

  .extendedSectionTwo {
    grid: 2 / 1;

    position: relative;
    padding-bottom: (var(--spacing-6));

    .sticky {
      position: sticky;
      top: var(--spacing-4);
    }
  }

  .extendedImages {
    // for mapped images
    .imagesContainer {
      display: flex;
      flex-wrap: wrap;

      .imageWrapper {
        width: 50%;

        border-top: 50px solid var(--websiteContainerColor);

        &:nth-child(even) {
          border-left: 25px solid var(--websiteContainerColor);
        }

        &:nth-child(odd) {
          border-right: 25px solid var(--websiteContainerColor);
        }

        &:nth-of-type(2) {
        }
      }
    }

    .imageWrapper {
      background-color: var(--c-grey-100);
      padding: var(--spacing-8) 0px;

      img {
      }
    }
  }

  .initialImageWrapper {
    border-left: 25px solid var(--websiteContainerColor);
    grid: 1 / 2;
  }

  .secondImageWrapper {
    border-top: 50px solid var(--websiteContainerColor);
    border-left: 25px solid var(--websiteContainerColor);

    grid: 2 / 2;
  }

  .restImagesWrapper {
    grid-column: 1 / 3;
  }
}

// Info
.info {
  display: flex;
  flex-direction: column;
  padding-bottom: var(--spacing-3);
}

// Frame
.frame {
  display: flex;
  flex-direction: column;

  .title {
    padding-bottom: var(--spacing-1);
  }
}

// Guide
.guide {
  .imageContainer {
    width: fit-content;
    height: fit-content;

    position: relative;
    left: -4%;
    .frameSizeImage {
      position: relative;
      object-fit: contain;
      z-index: 1;
    }

    .frameMeasurements {
      position: absolute;
      top: 0;

      width: 100%;
      height: 100%;
      z-index: 10;

      &::after,
      &::before {
        content: "";
        position: absolute;
      }

      &::before {
        width: 80%;

        left: 10%;
        bottom: -5%;
        border-top: var(--c-grey-200) solid 2px;

        content: "Frame width: w + 5 cm";
        font-style: italic;
      }

      &::after {
        height: 90%;
        right: 10%;
        top: 5%;

        border-left: var(--c-grey-200) solid 2px;

        content: "Frame height: h + 10 cm";
        font-style: italic;

        transform: translateX(100%);
        padding-left: var(--spacing-1);
      }
    }

    .height,
    .width {
      padding: 0px var(--spacing-1);
      position: absolute;

      .text {
        &::first-letter {
          text-transform: capitalize;
        }

        .span {
          font-style: italic;
        }
      }
    }

    .height {
      left: 100%;
      top: 11%;
      width: 100%;
    }

    .width {
      left: 16%;
      bottom: -13%;
    }

    &::after,
    &::before {
      z-index: 2;
      position: absolute;
      background-color: var(--c-grey-200);
      content: "";
    }

    &::after {
      width: 65%;
      height: 2px;
      bottom: -6%;
      left: 17.5%;
    }

    &::before {
      height: 75%;
      width: 2px;
      right: 2.5%;
      top: 12.5%;
    }
  }
}

// DescriptionElement
.elWrapper {
  display: flex;
  justify-content: space-between;

  padding: var(--spacing-1) 0px;
}
