.products {
  .productsContainer {
    display: flex;

    flex-wrap: wrap;
    gap: 30px;
  }
}

.productWrapper {
  background-color: #f8f8f8;
  padding: 50px;
  width: 30%;

  display: flex;
  justify-content: center;
  align-items: center;
}
