// Products
.products {
  height: fit-content;
  .productsContainer {
    display: grid;
    align-content: center;
    justify-content: space-evenly;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    gap: 2vw;
  }
}

// mappedProductsImages
.productWrapper {
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  .productImageWrapper {
    height: 60%;
    width: 100%;
    background-color: var(--c-grey-100);

    .productImage {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;

      padding: 10%;
    }
  }
}

.productBioSection {
  width: 100%;
  height: 30%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .productBio {
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;

    .bioTopSection {
      height: 70%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .name {
        .bioText {
          font-variation-settings: "wght" 550;
          font-size: clamp(8px, 1.2vw, 20px) !important;
        }
      }

      .type {
        .bioText {
          font-size: clamp(8px, 0.9vw, 14px) !important;
          font-variation-settings: "wght" 450;
        }
      }
    }

    .price {
      .bioText {
        font-size: clamp(8px, 1.1vw, 16px) !important;
        font-variation-settings: "wght" 650;
        padding-bottom: 5%;
      }
    }
  }

  .addToCartButton {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--websiteContainerColor);
    width: 100%;
    flex: 1;

    cursor: pointer;
    transition: background-color 0.4s ease;

    &:hover {
      background-color: var(--c-grey-100);
    }

    .shoppingBagSVGWrapper {
      height: 20px;
      padding-right: 0.5vw;
    }

    .bioText {
      padding-left: 0.5vw;
      font-size: clamp(8px, 1.1vw, 16px) !important;
      font-variation-settings: "wght" 450;
    }
  }
}
