.categories {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.titleContainer {
  font-variation-settings: "wght" 300;

  .titleWrapper {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    .title {
    }

    .exploreWrapper {
      display: flex;
      flex-direction: column;

      .subTitle {
      }

      .underline {
        position: relative;

        width: 100%;
        height: 1px;

        background-color: black;
      }

      .underlineDot {
        position: absolute;
        left: -100%;

        height: 5px;
        width: 10px;

        background-color: var(--websiteContainerColor);
      }
    }
  }
}

.categoriesContainer {
  width: 100%;
  height: 100%;

  display: flex;
  flex-wrap: wrap;
  align-items: end;
  justify-content: space-between;

  .categoriesWrapper {
    max-width: 25%;
    min-width: 25%;
    height: clamp(300px, 25vw, 350px);

    padding: var(--spacing-1);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    .imageWrapper {
      // height: clamp(100px, 15vw, 350px);
      height: 100%;
      width: 100%;
      overflow: hidden;

      .image {
        will-change: transform;
        height: 100%;
        width: 100%;
        transition: transform 0.6s ease;
        transform-origin: center center;

        object-fit: cover;
      }
    }

    &:hover {
      .imageWrapper {
        .image {
          transform: scale(1.015);
        }
      }

      .underlineDot {
        transition: left 1s cubic-bezier(0.55, 0, 0.1, 1);

        left: 105%;
      }
    }

    @media screen and (min-width: 1024px) {
      &:first-of-type {
        padding-right: var(--spacing-1);
        padding-left: 0px;

        // enforce same size for all containers
        max-width: calc(25% - var(--spacing-1));
        min-width: calc(25% - var(--spacing-1));

        .imageWrapper {
          border-top-left-radius: var(--spacing-1);
          border-bottom-left-radius: var(--spacing-1);
        }
      }

      &:last-of-type {
        padding-left: var(--spacing-1);
        padding-right: 0px;

        // enforce same size for all containers
        max-width: calc(25% - var(--spacing-1));
        min-width: calc(25% - var(--spacing-1));

        .imageWrapper {
          border-top-right-radius: var(--spacing-1);
          border-bottom-right-radius: var(--spacing-1);
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .categoriesWrapper {
      max-width: 50%;
      min-width: 50%;
      height: clamp(150px, 50vw, 324px);

      padding-bottom: var(--spacing-3);

      &:nth-of-type(odd) {
        padding-right: var(--spacing-1);
        padding-left: 0px;
      }

      &:nth-of-type(even) {
        padding-left: var(--spacing-1);
        padding-right: 0px;
      }
    }
  }
}
