// Gallery
.gallery {
  padding-top: var(--step-6);
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .galleryTop {
    width: 100%;
    height: 100%;

    display: flex;
  }

  // filterSideBarWrapper
  .filterSideBarWrapper {
    width: 30%;
  }

  // productsWrapper
  .productsWrapper {
    width: 70%;
    display: grid; // display grid to place previous products & upcoming products in the same place
    padding-bottom: var(--step-7);

    // these are the old products which are displayed while loading
    .productsLoading {
      grid-column: 1;
      grid-row: 1;
    }

    // these are the new upcoming products when user changes filter
    .productsLoaded {
      grid-column: 1;
      grid-row: 1;
    }

    .productsTransitioning {
      // opacity: 0.8;
      // pointer-events: none;
      // transition: opacity 10s ease;
    }
  }

  // pageWrapper
  .pageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: var(--step-2);
  }
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  .loadingBackground {
    width: 100%;
    height: 100%;

    background-color: rgba(255, 255, 255, 0.767);

    .loadingWrapper {
      width: 100px;

      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
