// Gallery
.gallery {
  min-height: 92vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .galleryTop {
    width: 100%;
    height: 100%;

    display: flex;
  }

  // filterSideBarWrapper
  .filterSideBarWrapper {
    width: 30%;
  }

  // productsWrapper
  .productsWrapper {
    width: 70%;
  }

  // pageWrapper
  .pageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
  }
}
