.imageAnimationTwo {
  animation: imagesPopup 1.1s forwards;
  transition: opacity 1s ease;
}

.mainImage {
  width: 100%;
  height: 500px;
  opacity: 1;
  position: relative;
}

.mainImageWrapperText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  span {
    padding: 5px;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .arrowContainer {
      padding-left: 1vw;
      opacity: 0;
      transition: opacity 0.3s ease, transform 0.2s ease-out;
      transform: translateX(-10px);
    }
    &:hover {
      .arrowContainer {
        opacity: 1;
        transform: translateX(0px);
      }
    }
  }
}
