.imageAnimationTwo {
  animation: imagesPopup 1.1s forwards;
  transition: opacity 1s ease;
}

.mainImage {
  width: 100%;
  height: 80vh;
  min-height: 600px;

  opacity: 1;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mainImageWrapperText {
  height: 100%;
  width: 100%;
  max-height: 400px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  .mainImageWrapper {
  }
}

.mainImageSpan {
  cursor: pointer;

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .underlineSpanContainer {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 2px;

    .arrowContainer {
      height: 20px;
      width: 20%;
      padding-left: 0.3vw;
      margin-top: -3px;
      opacity: 0;
      transition: opacity 0.2s cubic-bezier(0.55, 0.05, 0.9, 0.35);
      font-size: 14px;
      font-weight: 400;
    }

    .underlineSpan {
      height: 1px;
      width: 60px;

      border-radius: 9000px;
      background-color: black;

      transition: width 0.8s ease;
    }
  }

  &:hover {
    .underlineSpan {
      width: 40px;
    }

    .arrowContainer {
      opacity: 1;
    }
  }
}
