.button {
  margin: var(--spacing-2) 0px;
  border: none;

  background-color: var(--websiteContainerColor);

  cursor: pointer;
  position: relative;

  .textWrapper {
    display: flex;
    text-align: start;
    align-items: center;

    .text {
      font-variation-settings: "wght" 300;
    }
  }

  &::before {
    position: absolute;
    left: -10px;
    bottom: -5px;

    content: "";

    display: inline-block;

    height: 5px;
    width: 10px;
    background-color: white;
    z-index: 2;
  }

  &::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: black;

    position: absolute;
    left: 0;
    bottom: -5px;
  }

  &:hover::before {
    transition: left 1s cubic-bezier(0.55, 0, 0.1, 1);
    left: 110%;
  }
}
