.MainPageTopPresentation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  position: relative;

  .imageWrapper {
    position: relative;

    width: 100vw;
    max-width: 1440px;

    max-height: 700px;

    overflow: hidden;

    .mainPageTitleWrapper {
      overflow: hidden;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;

      .mainPageTitle {
        user-select: none;
        opacity: 1;

        font-size: clamp(20px, 10vw, 150px) !important;
        font-variation-settings: "wght" 450;

        color: rgb(9, 43, 94);
        mix-blend-mode: exclusion;

        z-index: 10;
      }
    }

    .mainImageWrapper {
      width: 100%;
      height: 100%;

      .mainImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
