.MainPageTopPresentation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  position: relative;

  .imageWrapper {
    position: relative;

    width: var(--pageWidhtNoScrollBar);
    max-width: 1920px;
    overflow: hidden;

    height: 100vh;
    max-height: 950px;

    .mainImageWrapper {
      animation: pageLoad 2s ease-out 1 forwards;
      transform: scale(1.4);
      width: 100%;
      height: 100%;

      .mainImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .staleNavbarWrapper {
    background-color: transparent;
  }

  .categoriesWrapper {
    position: absolute;
    top: 69%;
    left: 10%;
    transform: translate(-50%, -50%);
    width: fit-content;
  }
}

@keyframes pageLoad {
  from {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}
