.MainPageTopPresentation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  position: relative;

  .imageWrapper {
    position: relative;

    width: 100vw;
    max-width: 1440px;
    overflow: hidden;

    height: 100vh;
    max-height: 800px;

    .mainImageWrapper {
      animation: pageLoad 2s ease-out 1 forwards;
      transform: scale(1.4);
      width: 100%;
      height: 100%;

      .mainImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .activeImageWrapper {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 80%;
    height: 70%;
    overflow: hidden;
  }

  .categoriesWrapper {
    position: absolute;
    top: 25%;
    left: 7%;
    z-index: 10;
  }
}

.categories {
  .textWrapper {
    margin: var(--spacing-2) 0;
    .button {
      background-color: transparent;

      border: none;
      outline: none;
      cursor: pointer;

      position: relative;

      transition: background-color 0.4s ease;

      border-radius: 2px;
      border: 1px solid var(--c-grey-100);

      display: grid;

      overflow: hidden;

      .textOne,
      .textTwo {
        grid-column: 1;
        grid-row: 1;
        z-index: 2;

        padding: var(--spacing-2) var(--spacing-5);

        font-variation-settings: "wght" 400;
        font-size: var(--spacing-4);

        .l {
          transition: transform 1s ease;
        }
      }

      .textOne {
        display: flex;

        .l {
          color: var(--c-grey-100);
        }
      }

      .textTwo {
        opacity: 0;

        .l {
          color: black;
        }
      }

      .buttonBackgroundWrapper {
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;

        overflow: hidden;

        .buttonBackgroundFadeIn {
          background-color: var(--c-grey-100);
          height: 100%;
          width: 100%;
          position: absolute;
          bottom: -150px;
          left: 0;
        }

        .buttonBackgroundFadeOut {
          height: 100%;
          width: 100%;
          position: absolute;
          top: -150px;
          left: 0;
          background-color: var(--c-grey-100);
          transition: top 1s ease;
        }
      }

      &:hover {
        .buttonBackgroundWrapper {
          .buttonBackgroundFadeIn {
            transition: bottom 0.5s ease;
            bottom: 0;
          }

          .buttonBackgroundFadeOut {
            top: 0px;
            background-color: rgba(255, 255, 255, 0);
          }
        }

        .textOne {
          animation: fadeOutTop 0.2s ease forwards !important;

          .l {
            transform: translateY(5%);
          }
        }

        .textTwo {
          animation: appearFromBottom 1s ease forwards;
          display: flex;

          .l {
            transform: translateY(0px) !important;
          }
        }
      }

      &:not(:hover) {
        .textOne {
          animation: appearFromBottom 0.4s ease forwards;

          .l {
            transform: translateY(0%) !important;
          }
        }
      }
    }
  }
}

@keyframes fadeOutTop {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }

  80% {
    opacity: 0;
  }
  90% {
    transform: translateY(-20%);
  }

  100% {
    opacity: 0;
    transform: translateY(10%);
  }
}

@keyframes appearFromTop {
  from {
    pointer-events: none;
    opacity: 0;
    transform: translateY(-100%);
  }

  to {
    pointer-events: all;
    transform: translate(0%);
    opacity: 1;
  }
}

@keyframes appearFromBottom {
  from {
    pointer-events: none;
    opacity: 0;
    transform: translateY(10%);
  }

  to {
    pointer-events: all;
    transform: translate(0%);
    opacity: 1;
  }
}

.activeImage {
  animation: appear 1.2s cubic-bezier(0.4, 0, 0, 1) 1 forwards;
  animation-delay: 0.8s;

  width: 0%;
  height: 100%;

  background-color: transparent;

  position: absolute;
  left: 0;

  overflow: hidden;

  img {
    max-width: initial;

    width: auto;
    height: auto;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

@keyframes appear {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@keyframes hideLeft {
  0% {
    width: 100%;
    opacity: 1;
  }

  99% {
    width: 0%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes pageLoad {
  from {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}
