.MainPageTopPresentation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  position: relative;

  .imageWrapper {
    position: relative;

    width: var(--pageWidhtNoScrollBar);
    max-width: 1920px;

    min-height: 700px;
    height: 100vh;

    @media screen and (min-height: 1000px) {
      height: 70vh;
    }

    overflow: hidden;

    .logoContainer {
      position: absolute;
      left: 50%;
      top: 50%;

      transform: translate(-50%, -90%);

      z-index: 2;

      @media screen and (max-height: 475px) {
        display: none;
      }

      .iconImage {
        width: clamp(300px, 25vw, 400px);

        object-fit: contain;
      }
    }

    .mainImageWrapper {
      animation: pageLoad 2s ease-out 1 forwards;
      transform: scale(1.4);
      width: 100%;
      height: 100%;
    }

    .mainImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .logoTextWrapper {
      z-index: 2;

      position: absolute;
      top: 60%;
      left: 50%;

      transform: translate(-50%, -35%);

      .text {
        font-variation-settings: "wght" 300;
        font-family: "Mrs Saint Delafield", cursive;
        font-size: clamp(40px, 10vw, 60px);
      }
    }
  }

  .staleNavbarWrapper {
    background-color: transparent;
  }

  .categoriesWrapper {
    position: absolute;
    top: 68%;
    left: 53%;
    transform: translate(-50%, -50%);
    width: fit-content;
  }
}

@keyframes pageLoad {
  from {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}
