// NavigationButtons
.navigationButtonsContainer {
  z-index: 10;
  display: flex;
  justify-content: space-between;

  width: 97%;

  // positioned inside of imagesContainer
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);

  .navigationButtonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    &.left {
      margin-left: 10px;
    }

    &.right {
      margin-right: 10px;
    }

    .navigationButton {
      pointer-events: all;
      cursor: pointer;

      border-radius: var(--spacing-1);

      height: 8vw;
      min-height: 50px;
      max-height: 150px;
      width: 100%;
      min-width: 50px;

      border: none;

      background-color: white;
      outline: 0.5px solid black;
      opacity: 0.94;

      .buttonArrow {
        color: gray;
      }

      &:hover {
        opacity: 1;

        .buttonArrow {
          color: black;
        }
      }
    }
  }
}
