// NavigationButtons
.navigationButtonsContainer {
  z-index: 10;
  display: flex;
  justify-content: space-between;

  width: 97%;
  height: 100%;

  // positioned inside of imagesContainer
  position: absolute;

  .navigationButtonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    &.left {
      margin-left: 1px;
    }

    &.right {
      margin-right: 1px;
    }

    .navigationButton {
      pointer-events: all;
      cursor: pointer;

      height: 100px;
      width: 50px;

      border: none;

      background-color: white;
      outline: 0.5px solid black;
      opacity: 0.94;

      .buttonArrow {
        color: gray;
        font-variation-settings: 1000;
      }

      &:hover {
        opacity: 1;

        .buttonArrow {
          color: black;
        }
      }
    }
  }
}
