.cart {
  z-index: 999999;
  position: fixed;
  right: 0;
  top: 0;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: flex-end;

  // background to tone done backgroundLocation while cart is visible
  .background {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.745);
    cursor: pointer;
  }

  // wrapper for products which have been added to cart by user
  .cartWrapper {
    border-left: 2px solid black;
    padding: 10px 20px;
    background-color: white;

    height: 100%;
    width: 40%;

    h1 {
      color: black;
    }
  }
}

// CartProducts
.cartProductsContainer {
  // cartProductsWrapper variable
  .productsWrapper {
  }
}

// Products
.product {
  // productImage variable
  .productImageWrapper {
  }

  // productName variable
  .productName {
  }

  // productAmount variable
  .productAmount {
  }

  // productPrice variable
  .productPrice {
  }

  // productType variable
  .productType {
  }
}
