.cart {
  z-index: 999999;
  position: fixed;
  right: 0;
  top: 0;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: flex-end;

  // background to tone done backgroundLocation while cart is visible
  .background {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.745);
    cursor: pointer;
  }

  // wrapper for products which have been added to cart by user
  .cartWrapper {
    border-left: 2px solid black;
    padding: 10px 20px;
    background-color: white;

    height: 100%;
    width: 35%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .productsWrapper {
      display: flex;
      border: 1px solid green;
      height: 70%;
      width: 100%;

      overflow-y: scroll;
    }

    .totalWrapper {
      h1 {
        color: black;
      }
    }
  }
}

// CartProducts
.cartProductsContainer {
  // cartProductsWrapper variable
  width: 100%;
}

// Products
.product {
  width: 100%;
  display: flex;
  justify-content: space-between;

  border: 1px solid orange;

  padding: 10px;

  // productImage variable
  .productImageWrapper {
    width: 100px;
    object-fit: contain;
  }

  .leftSection {
    width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    // productName variable
    .productName {
      font-variation-settings: "wght" 500;
    }

    // productAmount variable
    .productAmount {
      width: 35%;

      display: flex;
      justify-content: space-between;
      align-items: center;

      border: 1px solid var(--c-grey-300);

      .amountText {
        font-variation-settings: "wght" 200;
        color: var(c-text--500);
      }

      .amountBtn {
        width: 30%;
        height: 100%;
        cursor: pointer;
        border: none;

        background-color: var(--websiteContainerColor);

        display: flex;
        justify-content: center;
        align-items: center;

        font-variation-settings: "wght" 200;
        color: var(c-text--500);

        transition: background-color 0.5s ease;

        &:hover {
          background-color: var(--c-grey-100);
        }
      }

      .minus {
      }

      .plus {
      }
    }
  }

  .rightSection {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    // productPrice variable
    .productPrice {
      margin-top: -10px;
    }
  }
}
