.closeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--spacing-1);
  padding: calc(var(--spacing-1) / 4);

  transition: background-color 0.1s ease;
  background-color: var(--c-grey-100);

  svg {
    will-change: transform;
    transition: filter 0.1s ease;
  }

  &:hover {
    transition: background-color 0.6s ease;
    background-color: var(--c-grey-200);
    transform: rotate(-90deg);

    svg {
      animation: bounce-spin 0.4s ease-out forwards;
    }
  }

  @keyframes bounce-spin {
    0% {
      transform: rotate(0deg);
    }

    50% {
      transform: rotate(110deg);
    }

    75% {
      transform: rotate(85deg);
    }

    90% {
      transform: rotate(95deg);
    }

    100% {
      transform: rotate(90deg);
    }
  }
}
