// Footer
.footer {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .navContent {
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  .backgroundColor {
    position: absolute;

    height: 310px;
    width: var(--pageWidhtNoScrollBar);
    z-index: 1;
    background-color: var(--c-grey-100);
  }
}

// LinksWrapper
.linksWrapper {
  width: 100%;

  display: flex;
  flex-wrap: wrap;

  padding: var(--spacing-6) var(--spacing-1);

  .sectionWrapper {
    padding: var(--spacing-1) var(--spacing-3);

    &:first-child {
    }

    .title {
      padding: var(--spacing-1);
      pointer-events: none;
    }

    .buttonsContainer {
      display: flex;
      flex-direction: column;

      width: 100%;

      .buttonWrapper {
        width: 100%;

        background-color: inherit;
        transition: background-color 0.5s ease;

        &:hover {
          background-color: var(--c-grey-200);
        }
      }
    }

    @media screen and (max-width: 800px) {
      width: 100%;
    }
  }
}

// Copyright
.copyrightWrapper {
  border-top: 0.5px solid var(--c-grey-300);

  display: flex;
  justify-content: center;
  align-items: center;

  padding: var(--spacing-2);
}

// GithubLink
.gitHubWrapper {
  position: absolute;
  height: 40px;
  left: 0;

  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--c-grey-200);

  // gitHubButtonLinkWrapper variable
  .gitHubContentWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .buttonWrapper {
      .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .svgWrapper {
        width: 15px;
        margin-left: 2px;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: filter 0.4s ease;
      }

      &:hover {
        .svgWrapper {
          filter: invert(0.4);
        }
      }
    }
  }
}
