// Footer
.footer {
  width: 100%;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  /* make sure footer is always at the bottom */
  /* !For screens taller than the content! */

  .navContent {
    width: 100%;
    background-color: orange;
  }
}

// LinksWrapper
.linksWrapper {
  display: flex;
  justify-content: space-evenly;
  padding: var(--mediumSize);

  .sectionWrapper {
    width: 25%;

    .title {
    }

    .buttonsContainer {
      display: flex;
      flex-direction: column;

      width: 100%;
      background-color: green;
      .buttonWrapper {
        border-bottom: 1px solid black;
        width: 100%;
        margin: 5px 0px;

        background-color: var(--websiteContainerColor);

        transition: background-color 0.4s ease;

        &:hover {
          background-color: var(--c-grey-200);
        }
      }
    }
  }
}

// LinkButton
.linkButton {
  background-color: inherit;
  width: 100%;
  cursor: pointer;
  text-align: start;
  border: none;
  padding: 8px;

  .buttonText {
  }
}

// Copyright
.copyRightWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--c-grey-100);
  padding: var(--minSize);
}

// GithubLink
.gitHubWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: var(--minSize);
  background-color: var(--c-grey-300);

  .buttonWrapper {
    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .svgWrapper {
      width: 15px;
      margin-left: 5px;

      display: flex;
      justify-content: center;
      align-items: center;

      transition: filter 0.4s ease;
    }

    &:hover {
      .svgWrapper {
        filter: invert(0.4);
      }
    }
  }
}
