/* Services */
.servicesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .background {
    background-color: var(--websiteContainerColor);
    background-color: rgb(244, 247, 250);
    height: 100%;
    width: var(--pageWidhtNoScrollBar);

    position: absolute;
  }
  .serviceContent {
    padding: var(--spacing-4) 0px;

    height: 100%;
    width: 100%;

    display: flex;
    align-items: stretch;
    justify-content: space-between;

    .leftSectionWrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      flex: 1;
    }

    .rightSectionWrapper {
      width: 70%;
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

/* RightSection */
.rightSection {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .imageWrapper {
    min-width: 100%;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    .image {
      object-fit: contain;
    }
  }
}

/* rightSection */
.rightScrollingText {
  height: 60px;
  width: 100%;
  overflow: hidden;

  .scrollingTextTitle {
    position: relative;
    height: 50%;
  }

  .scrollingTextBio {
    position: relative;
    height: 50%;
  }
}

/* rightSection */
.paintingContainer {
  height: 100%;
  width: 100%;

  position: absolute;

  top: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .paintingWrapper {
    width: 15%;
    position: absolute;

    --marginRight: 7%;
    --marginTop: 27%;

    &.image0 {
      right: calc(var(--marginRight) * 6.5);
      top: var(--marginTop);
    }

    &.image1 {
      right: calc(var(--marginRight) * 3.55);
      top: var(--marginTop);
    }

    &.image2 {
      right: calc(var(--marginRight) * 0.7);
      top: var(--marginTop);
    }

    .paintImage {
      object-fit: contain;

      height: 14rem;
      width: 7rem;

      @media screen and (max-width: 1440px) {
        height: 12.5rem;
        width: 6.5rem;
      }

      @media screen and (max-width: 1400px) {
        height: 12vw;
        width: 6vw;
      }
    }
  }
}

/* leftSection */
.leftSection {
  height: 70%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  .buttonsWrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
