.quickViewImage {
  position: fixed;
  top: 0;
  left: 0;

  scroll-behavior: none;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 0.5px solid gray;

  z-index: 9000000;
  // white background-image that differs pop-up from other elements
  .quickViewBackground {
    cursor: pointer;
    width: 100%;
    height: 100%;

    background-color: rgba(70, 70, 70, 0.388);
  }

  .quickViewImageContainer {
    display: flex;
    justify-content: flex-start;
    position: absolute;

    z-index: 100;

    max-width: 700px;
    max-height: 550px;
    height: 100%;

    background-color: white;
    outline: 0.5px solid black;

    .activeImageWrapper {
      width: 50%;
      padding: 5px;

      display: flex;
      justify-content: center;
      align-items: center;

      .activeImage {
      }
    }
  }
}

// QuickViewInfo
.infoSection {
  padding: 5px;
  padding-right: 15px;

  overflow: scroll;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 50%;

  .productTitleAndPriceWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 30px;

    // infoProductTitle
    .info {
      font-variation-settings: "wght" 350;
      padding: 5px;
    }

    // infoProductPrice
    .price {
      font-variation-settings: "wght" 300;
      padding: 5px;
    }
  }

  // allImagesRelatedToQuickViewImage
  .allImagesExamples {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    border-bottom: 0.5px solid gray;
    padding-bottom: 10px;

    .imageExample {
      max-width: 250px;
      max-height: 100px;

      padding: 10px;

      cursor: pointer;
    }
  }

  // currentImageBioText
  .currentImageBioText {
  }

  .buttonText {
  }
}

// ProductDescription
.productDescription {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-top: 20px;

  .buttonDescriptionButton {
    cursor: pointer;
    border: none;
    background-color: white;

    padding-bottom: 20px;

    // expandDescriptionButton
    .buttonDescriptionButtonText {
      display: flex;
      align-items: center;

      font-variation-settings: "wght" 450;
      padding-bottom: 5px;

      .descriptionSvgContainer {
        padding-top: 5px;
        padding-left: 5px;

        transition: transform 0.4s ease;
        // helps SVG to look more middle-placed
        transform: translateY(1px);
        transform-origin: center;

        &.arrowFaceIn {
          transform: rotateX(180deg) translateY(-3px);
        }
      }
    }
  }

  // expandDescriptionText
  .descriptionWrapper {
    overflow: hidden;
    transition: height 0.4s ease;

    &.open {
      height: 250px;
    }

    &.closed {
      height: 0px;
    }

    .descriptionText {
      &.open {
      }

      &.closed {
      }
    }
  }
}

// ViewProductButton
.viewProductButtonWrapper {
  border-top: 0.5px solid gray;
  height: 50px;
  width: 100%;

  display: flex;
  align-items: flex-end;

  .viewProductButton {
    cursor: pointer;
    width: 100%;
    height: 40px;
  }
}
