.mainPageImages {
  height: 100%;
  width: 100%;

  gap: 5vw;
  padding-top: 5vw;
  padding-bottom: 5vw;

  overflow: hidden;
}

.mainPageImage {
  opacity: 0;
  padding-bottom: 5vw;
}

/* animation that makes images fade into view when scrolling to them */
.imageAnimationOne {
  animation: imagesPopup 0.5s forwards;
  opacity: 1;
  transform-origin: top;
}

@keyframes imagesPopup {
  from {
    transform: translate(0px, 10px) scaleY(1.05);
  }

  to {
    transform: translate(0px, 0px) scaleY(1);
  }
}
