// NavButton
.navButton {
  background-color: inherit;
  outline: none;
  border: none;
  cursor: pointer;

  width: 100%;
  height: var(--spacing-8);

  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.3s ease;

  .font {
    transition: color 0.4s ease;
    color: var(--fontColor);
    font-variation-settings: "wght" 450;
  }

  .font {
    color: black;
  }
}
