// NavButton
.navButton {
  background-color: inherit;
  outline: none;
  border: none;
  cursor: pointer;

  padding: var(--spacing-1);
  width: 100%;
  height: var(--spacing-6);

  pointer-events: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    .font {
      color: black;
      transition: color 0.3s ease;
    }
  }

  .font {
    transition: color 0.4s ease;
    color: var(--c-grey-400);
    font-variation-settings: "wght" 450;

    transition: color 0.2s ease;
  }
}
