.LogoWithTextPresentation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding-bottom: var(--spacing-1);

  .imagesWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 10vw;
  }

  .title {
    text-wrap: nowrap;

    .logoTitle {
      font-family: "Mrs Saint Delafield", cursive, Arial, sans-serif;
      animation: fadeInText 1s ease forwards 1s;
      opacity: 0;
    }
  }

  @media screen and (max-width: 450px) {
    display: none;
  }
}

.image {
  height: clamp(var(--spacing-1), 4vw, var(--spacing-4));
  border-radius: 90px;

  &.img0 {
    transform: rotate(80deg);
    animation: fadeInImages 1s cubic-bezier(0.65, 0, 0.35, 1) forwards;
  }

  &.img1 {
    transform: rotate(60deg);
    animation: fadeInImages 1.5s cubic-bezier(0.65, 0, 0.35, 1) forwards;
  }

  &.img2 {
    transform: rotate(40deg);
    animation: fadeInImages 2s cubic-bezier(0.65, 0, 0.35, 1) forwards;
  }
}

@keyframes fadeInImages {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  80% {
    visibility: visible;
  }

  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}

@keyframes fadeInText {
  0% {
    transform: translateX(1px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
