// Products
.products {
  height: 100%;
  position: relative;

  // mappedProductsImages
  .productsContainer {
    display: grid;
    align-content: center;
    justify-content: space-evenly;

    @media screen and (min-width: 1400px) {
      gap: var(--spacing-8);
      grid-template-columns: repeat(3, 1fr);

      .productWrapper {
        height: clamp(400px, 50vw + 50rem, 600px);

        .productImage {
          padding: clamp(
            var(--spacing-4),
            calc(var(--spacing-4) + 2vw),
            var(--spacing-6)
          );
        }
      }
    }

    @media screen and (min-width: 1024px) and (max-width: 1400px) {
      gap: var(--spacing-7);
      grid-template-columns: repeat(3, 1fr);

      .productWrapper {
        height: clamp(200px, 20vw + 10rem, 500px);

        .productImage {
          padding: 0px var(--spacing-4);
        }
      }
    }

    @media screen and (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
      gap: var(--spacing-7);

      .productWrapper {
        height: clamp(200px, 25vw + 10rem, 400px);

        .productImage {
          padding: 0px var(--spacing-5);
        }
      }
    }

    @media screen and (max-width: 800px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 650px) {
      grid-template-columns: repeat(1, 1fr);

      .productWrapper {
        height: clamp(250px, 30vw + 10rem, 450px);

        .productImage {
          padding: 0px calc(var(--spacing-8) * 1.6);
        }
      }
    }

    @media screen and (max-width: 425px) {
      .productWrapper {
        height: clamp(200px, 20vw + 10rem, 300px);

        .productImage {
          padding: 0px var(--spacing-8);
        }
      }
    }

    @media screen and (max-width: 375px) {
    }

    .productWrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      .productImageWrapper {
        overflow: hidden;

        cursor: pointer;

        background-color: var(--c-grey-100);

        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;

        .productImage {
          object-fit: contain;
          will-change: transform;

          transition: transform 0.1s ease;

          min-width: 200px;
        }
        &:hover {
          .productImage {
            transition: transform 0.4s ease !important;
            transform: scale(1.02);
          }
        }
      }
    }
  }
}

.productBioSection {
  width: 100%;

  padding-top: var(--spacing-1);
  padding-bottom: var(--spacing-2);

  .bioText {
    padding: 0;
    margin: 0;
    line-height: 1;
  }

  .productBio {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: var(--spacing-1);

    .bioTopSection {
      display: flex;
      flex-direction: column;

      width: 100%;

      .nameAndMore {
        display: flex;
        justify-content: space-between;
        padding-bottom: var(--spacing-1);
      }

      .bioInfo {
        display: flex;

        gap: var(--spacing-1);
      }

      .bioText {
        font-variation-settings: "wght" 450;
      }

      .type {
        padding-bottom: var(--spacing-2) 0px;
        .bioText {
          color: var(--c-text-200);

          font-variation-settings: "wght" 460;
          cursor: pointer;

          z-index: 2;

          &:hover {
            color: var(--c-text-black);
          }
        }
      }
    }

    .price {
      .bioText {
        font-variation-settings: "wght" 450;
      }
    }
  }

  .addToCartButton {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--websiteContainerColor);
    width: 100%;
    flex: 1;

    cursor: pointer;
    transition: background-color 0.4s ease;

    &:hover {
      background-color: var(--c-grey-100);
    }

    .shoppingBagSVGWrapper {
      width: clamp(var(--spacing-1), 3vw, var(--spacing-3));
      height: 100%;

      margin-left: -1.5vw; // minus its own width to make the text for the button 'Add to cart' center instead
    }

    .bioText {
      padding-left: calc(var(--spacing-1) / 2);
      font-variation-settings: "wght" 450;
    }
  }
}
