// Products
.products {
  height: 100%;
  position: relative;

  // mappedProductsImages
  .productsContainer {
    display: grid;
    align-content: center;
    justify-content: space-evenly;

    @media screen and (min-width: 1400px) {
      gap: var(--spacing-3);
      grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (max-width: 1400px) {
      gap: var(--spacing-4);
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 650px) {
      grid-template-columns: repeat(1, 1fr);
    }

    @media screen and (max-width: 425px) {
    }

    @media screen and (max-width: 375px) {
    }

    .productWrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      height: clamp(200px, 35vw + 50rem, 450px);

      .productImageWrapper {
        overflow: hidden;
        border-radius: var(--spacing-1);

        cursor: pointer;

        background-color: var(--c-grey-100);

        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;

        border: var(--spacing-4) solid var(--c-grey-100);

        .productImage {
          object-fit: contain;
          will-change: transform;

          transition: transform 0.1s ease;
          border-radius: var(--spacing-1);
        }
        &:hover {
          .productImage {
            transition: transform 0.4s ease !important;
            transform: scale(1.02);
          }
        }
      }
    }
  }
}

.productBioSection {
  width: 100%;

  padding-top: var(--spacing-1);
  padding-bottom: var(--spacing-2);

  .bioText {
    padding: 0;
    margin: 0;
    line-height: 1;
  }

  .productBio {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: var(--spacing-1);

    .bioTopSection {
      display: flex;
      flex-direction: column;

      width: 100%;

      .nameAndMore {
        display: flex;
        justify-content: space-between;
        padding-bottom: var(--spacing-1);

        .moreImagesWrapper {
          position: relative;
          max-height: 25px;
          width: fit-content;

          .imageContainer {
            height: 100%;
            width: max-content;

            overflow: hidden;

            position: absolute;
            top: 0;

            outline: 1px solid var(--c-grey-200);
            border-radius: var(--spacing-6);
            background-color: var(--c-grey-100);

            display: flex;
            justify-content: center;
            align-content: center;

            overflow: hidden;

            img {
            }
          }
        }
      }

      .bioInfo {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-1);
      }

      .name {
        .bioText {
          font-variation-settings: "wght" 450;
        }
      }

      .type {
        padding-bottom: var(--spacing-2) 0px;
        .bioText {
          color: var(--c-text-200);

          font-variation-settings: "wght" 460;
          cursor: pointer;

          z-index: 2;

          &:hover {
            color: var(--c-text-black);
          }
        }
      }
    }

    .price {
      .bioText {
        font-variation-settings: "wght" 450;
      }
    }
  }

  .addToCartButton {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--websiteContainerColor);
    width: 100%;
    flex: 1;

    cursor: pointer;
    transition: background-color 0.4s ease;

    &:hover {
      background-color: var(--c-grey-100);
    }

    .shoppingBagSVGWrapper {
      width: clamp(var(--spacing-1), 3vw, var(--spacing-3));
      height: 100%;

      margin-left: -1.5vw; // minus its own width to make the text for the button 'Add to cart' center instead
    }

    .bioText {
      padding-left: calc(var(--spacing-1) / 2);
      font-variation-settings: "wght" 450;
    }
  }
}
