.loadingContainer {
  height: 100vh;
  min-height: 500px;
  width: var(--pageWidhtNoScrollBar);

  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000000;

  background-color: var(--websiteContainerColor);
}
