// Preview / IsLoading
.preview {
  position: relative;
  --marginTop: 4rem;

  overflow-y: scroll;

  .fixedPreviewContainer {
    position: fixed;
    top: var(--marginTop);

    pointer-events: none;

    left: 0;
    z-index: 100;
    width: 100%;
    height: calc(100% - var(--marginTop));

    overflow-x: hidden;

    .backgroundColorWrapper {
      padding: var(--spacing-3) 0px;
      background-color: var(--websiteContainerColor);
      pointer-events: auto;
      width: 100vw;
      z-index: 2;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .transparentEl {
      height: 500px;
      width: 100%;
    }
  }

  .footerWrapper {
    z-index: 1;

    flex: 1;
    height: 500px;
    width: 100%;

    position: fixed;
    bottom: 2.5rem;
    left: 0;

    background-color: var(--websiteContainerColor);

    display: flex;
    align-items: flex-end;
  }

  .footerWrapper * {
    pointer-events: auto;
  }
}

// DisplayProductContainer
.imageContainer {
  display: flex;
  justify-content: flex-start;

  width: 100%;
  height: 100%;
}

// Info
.infoWrapper {
  height: 85vh;
  width: 50%;
  display: flex;
  flex-direction: column;

  padding: 0px var(--spacing-3);
}

// ActiveImage
.activeImageWrapper {
  height: 85vh;
  width: 50%;
  border-radius: var(--spacing-1);

  background-color: var(--c-grey-100);

  display: flex;
  justify-content: center;
  align-items: center;

  padding: var(--spacing-3);

  .activeImage {
    border-radius: var(--spacing-1);
    height: 100%;

    object-fit: contain;
  }
}

.extendedInfo {
  width: 100%;
  padding: var(--spacing-6) var(--spacing-2);
}

.bioTypeText {
  font-variation-settings: "wght" 300;
}

.titleTypeText {
  font-variation-settings: "wght" 300;
}

.paddingTop4 {
  padding-top: var(--spacing-4);
}
