// Preview / IsLoading
.preview {
  position: relative;
  --marginTop: 4rem;

  overflow-y: scroll;

  .fixedPreviewContainer {
    position: fixed;
    top: var(--marginTop);

    pointer-events: none;

    left: 0;
    z-index: 100;
    width: 100%;
    height: calc(100% - var(--marginTop));

    overflow-x: hidden;

    .backgroundColorWrapper {
      padding: var(--spacing-3) 0px;
      padding-bottom: var(--spacing-8);
      background-color: var(--websiteContainerColor);
      pointer-events: auto;
      width: 100vw;
      height: fit-content;
      z-index: 2;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .individualWrapper {
        width: 100%;

        padding: 0px var(--spacing-2);

        .individualSetTitle {
          font-variation-settings: "wght" 100;
          padding: var(--spacing-1) 0px;
        }
      }
    }

    .transparentEl {
      height: 300px;
      width: 100%;
    }
  }

  .footerWrapper {
    z-index: 1;

    flex: 1;

    width: 100%;

    position: fixed;
    bottom: 0;
    left: 0;

    background-color: var(--websiteContainerColor);

    display: flex;
    align-items: flex-end;
  }

  .footerWrapper * {
    pointer-events: auto;
  }
}

// DisplayProductContainer
.imageContainer {
  display: flex;
  justify-content: flex-start;

  width: 100%;
  height: clamp(600px, 85vh, 700px);
}

// Info
.infoWrapper {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;

  padding-left: calc(var(--spacing-8) * 2);
  padding-right: 20px;
}

// ActiveImage
.activeImageWrapper {
  height: 100%;
  width: 50%;

  background-color: var(--c-grey-100);

  display: flex;
  justify-content: center;
  align-items: center;

  padding: var(--spacing-3);

  .activeImage {
    height: 100%;

    object-fit: contain;
  }
}

.individualProducts {
  display: flex;
  gap: var(--spacing-4);

  width: 50%;

  .product {
    cursor: pointer;

    display: flex;
    flex-direction: column;

    gap: calc(var(--spacing-1) * 0.2);

    .title {
      font-variation-settings: "wght" 100;
      text-wrap: wrap;

      width: 100%;
    }

    img {
      padding: var(--spacing-2);

      width: 100%;
      background-color: var(--c-grey-100);
    }
  }
}

// INDIVIDUAL CLASSES

.extendedInfo {
  width: 100%;
  padding: var(--spacing-6) var(--spacing-2);
}

.bioTypeText {
  font-variation-settings: "wght" 200;
}

.titleTypeText {
  font-variation-settings: "wght" 300;
}

.paddingTop4 {
  padding-top: var(--spacing-4);
}

@media screen and (max-width: 1024px) {
  .preview {
    .fixedPreviewContainer {
      .backgroundColorWrapper {
        margin-top: var(--spacing-6);
        .individualWrapper {
          .individualSetTitle {
          }
        }
      }

      .transparentEl {
        height: 500px;
      }
    }

    .footerWrapper {
    }

    .footerWrapper * {
    }
  }

  .imageContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 100%;
    height: 100%;

    .infoWrapper {
      order: 1;
      width: 100%;
      padding: 0;
    }

    .activeImageWrapper {
      order: 2;
      width: 100%;
      padding: var(--spacing-8);
      height: 500px;
    }
  }
}

@media screen and (max-width: 650px) {
  .preview {
    z-index: 99999999;
    .fixedPreviewContainer {
      top: 0;
      height: 100vh;
      .backgroundColorWrapper {
        margin-top: 0;

        .individualWrapper {
          .individualSetTitle {
          }
        }
      }

      .transparentEl {
      }
    }

    .footerWrapper {
    }

    .footerWrapper * {
    }
  }
}

@media screen and (max-width: 425px) {
  .preview {
    .fixedPreviewContainer {
      .backgroundColorWrapper {
        width: 100vw;
        .individualWrapper {
          .individualProducts {
            flex-direction: column;
            width: 100%;
          }

          .individualSetTitle {
          }
        }
      }

      .transparentEl {
        display: none;
      }
    }

    .footerWrapper {
      width: 100vw;
    }

    .footerWrapper * {
    }
  }

  .imageContainer {
    .infoWrapper {
    }

    .activeImageWrapper {
      height: 300px;
      padding: 0;
    }
  }
}

@media screen and (max-width: 300px) {
  .preview {
    min-width: 300px;
    .fixedPreviewContainer {
      overflow-x: scroll;

      .backgroundColorWrapper {
        min-width: 300px;
        overflow: scroll;
      }
    }
  }
}
