// Preview / IsLoading
.preview {
  position: relative;
  --marginTop: 6%;

  overflow-y: scroll;

  .fixedPreviewContainer {
    position: fixed;
    top: var(--marginTop);

    pointer-events: none;

    left: 0;
    z-index: 100;
    width: 100%;
    height: calc(100% - var(--marginTop));
    padding: var(--spacing-2);
    overflow-x: hidden;

    .backgroundColorWrapper {
      padding: var(--spacing-4) 0px;
      background-color: var(--websiteContainerColor);
      pointer-events: auto;
      width: 100vw;
      z-index: 2;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .transparentEl {
      height: 300px;
      width: 100%;
    }
  }

  .footerWrapper {
    pointer-events: none;
    z-index: 1;
    z-index: 99;

    width: 100%;
    position: fixed;
    bottom: 5%;
    left: 0;
  }

  .footerWrapper * {
    pointer-events: auto;
  }
}

// DisplayProductContainer
.imageContainer {
  display: flex;
  justify-content: flex-start;

  width: 100%;
  height: 100%;
}

// Info
.infoWrapper {
  height: 650px;
  width: 50%;
  display: flex;
  flex-direction: column;

  padding: 0px var(--spacing-3);
}

// ActiveImage
.activeImageWrapper {
  border-radius: var(--spacing-1);
  width: 50%;
  height: 650px;

  background-color: var(--c-grey-100);

  display: flex;
  justify-content: center;
  align-items: center;

  padding: var(--spacing-3);

  .activeImage {
    border-radius: var(--spacing-1);
    height: 100%;

    object-fit: contain;
  }
}

.extendedInfo {
  width: 100%;
  padding: var(--spacing-6) var(--spacing-2);
}

.bioTypeText {
  font-variation-settings: "wght" 300;
}

.titleTypeText {
  font-variation-settings: "wght" 300;
}

.paddingTop4 {
  padding-top: var(--spacing-4);
}
