.paintings {
  width: 100%;
  height: 100%;

  .sectionSeperationImage {
    height: 50px;
  }

  .exampleCollectionSection {
  }

  .wheelImagesSection {
  }

  .exploreNewInSection {
  }

  @media screen and (max-width: 425px) {
    .wheelImagesSection,
    .sectionSeperationImage,
    .exampleCollectionSection,
    .exploreNewInSection {
      display: none;
    }
  }
}
