.inputs {
  .inputsWrapper {
    width: 100%;

    .inputsContainer {
      display: flex;

      padding: var(--spacing-1);
    }
  }

  .firstNameWrapper {
  }

  .lastNameWrapper {
  }

  .emailWrapper {
  }

  .messageWrapper {
    max-height: 200px;
  }

  .halfInput {
    width: 50%;

    &:first-child {
      padding-right: var(--spacing-1);
    }

    &:last-child {
      padding-left: var(--spacing-1);
    }
  }

  .wholeInput {
    width: 100%;
  }
}
