// Products
.categories {
  .products {
    padding: var(--spacing-2) 0px;
  }
}

// Category
.category {
  .categoryTitleWrapper {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-1) 0px;

    .title {
      font-variation-settings: "wght" 500;
    }

    .exploreMoreWrapper {
      display: flex;

      .exploreMore {
        font-variation-settings: "wght" 400;
      }

      .arrowSVG {
        display: flex;
        justify-content: center;
        align-items: center;

        transform: rotateZ(270deg);
      }
    }

    .underlineWithDot {
      width: 100%;
      height: 2px;
      background-color: black;
      position: relative;
      .dot {
        background-color: var(--websiteContainerColor);
        transition: left 1s cubic-bezier(0.55, 0, 0.1, 1);

        height: 10px;
        width: 10px;
        position: absolute;
        left: -25px;
        bottom: -2.5px;

        border-radius: 90px;
      }
    }

    &:hover {
      .underlineWithDot {
        .dot {
          background-color: var(--websiteContainerColor);
          transition: left 1s cubic-bezier(0.55, 0, 0.1, 1);
          left: 100%;
        }
      }
    }
  }
}

// Product
.product {
  border-bottom: 1px solid var(--navUnderlineColor);

  padding-bottom: var(--spacing-1);
  .title {
    padding: var(--spacing-2) 0px;
  }

  .imgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    .img {
      padding: var(--spacing-2) var(--spacing-5);
      max-width: 350px;
    }
  }
}
