// WheelOfManyImages
.WheelOfManyImages {
  height: 100%;
  width: 100%;
}

// Images
.imagesContainer {
  display: flex;
  justify-content: center;

  overflow: hidden;

  pointer-events: none;

  // relative for navigationButtonsContainer
  position: relative;

  // mappedImages
  .imagesWrapper {
    display: flex;

    will-change: transform;

    .imageWrapper {
      margin-right: 20px;

      // for quickViewButton
      position: relative;
      .image {
        height: 100%;
        min-width: 15vw;

        pointer-events: all;
        cursor: pointer;
      }

      .quickViewButtonWrapper {
        position: absolute;
        bottom: 20px;
        left: 10%;

        width: 80%;

        display: flex;
        justify-content: center;
        align-items: center;

        transform: translateY(100px);
        transition: transform 0.2s ease;
      }

      &:hover {
        .quickViewButtonWrapper {
          transform: translateY(0px);
        }
      }
    }
  }
}

// NavigationButtons
.navigationButtonsContainer {
  z-index: 10;
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 100%;

  // positioned inside of imagesContainer
  position: absolute;

  .navigationButtonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    &.left {
      margin-left: 1px;
    }

    &.right {
      margin-right: 1px;
    }

    .navigationButton {
      pointer-events: all;
      cursor: pointer;

      height: 100px;
      width: 50px;

      border: none;

      background-color: white;
      outline: 0.5px solid black;
      opacity: 0.94;

      .buttonArrow {
        color: gray;
        font-variation-settings: 1000;
      }

      &:hover {
        opacity: 1;

        .buttonArrow {
          color: black;
        }
      }
    }
  }
}

.quickViewButton {
  width: 100%;
  height: 60px;

  padding: 1vw;

  background-color: gray;
  pointer-events: all;
  cursor: pointer;

  border: none;

  background-color: white;
  outline: 0.5px solid black;

  transition: background-color 0.4s ease;

  .quickViewText {
    color: black;
    font-weight: 200;
  }

  &:hover {
    background-color: var(--websiteContainerColor);
  }
}

.quickViewImage {
  position: fixed;
  top: 0;
  left: 0;

  scroll-behavior: none;
  z-index: 1000;

  background-color: rgba(255, 255, 255, 0.388);

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  border: 1px solid black;

  .quickViewImageContainer {
    width: 50%;
    max-width: 700px;

    background-color: white;
    .activeImageWrapper {
      width: 20vw;

      .activeImage {
      }
    }
  }
}
