// WheelOfManyImages
.WheelOfManyImages {
  height: 100%;
  width: 100%;
}

// Images
.imagesContainer {
  display: flex;
  justify-content: center;

  overflow: hidden;

  pointer-events: none;

  // relative for navigationButtonsContainer
  position: relative;

  // mappedImages
  .imagesWrapper {
    display: flex;

    will-change: transform;

    .imageWrapper {
      margin-right: 20px;

      .image {
        height: 350px;
        min-width: 260px;

        pointer-events: all;
        cursor: pointer;
      }
    }
  }
}

// NavigationButtons
.navigationButtonsContainer {
  z-index: 10;
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 100%;

  // positioned inside of imagesContainer
  position: absolute;

  .navigationButtonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    &.left {
      margin-left: 1px;
    }

    &.right {
      margin-right: 1px;
    }

    .navigationButton {
      pointer-events: all;
      cursor: pointer;

      height: 100px;
      width: 50px;

      border: none;

      background-color: white;
      outline: 0.5px solid black;
      opacity: 0.94;

      .buttonArrow {
        color: gray;
        font-variation-settings: 1000;
      }

      &:hover {
        opacity: 1;

        .buttonArrow {
          color: black;
        }
      }
    }
  }
}
