.WheelOfManyImages {
  height: 100%;
  width: 100%;
}

.imagesContainer {
  display: flex;
  justify-content: center;

  overflow: hidden;

  pointer-events: none;

  position: relative;

  .imagesWrapper {
    display: flex;

    border-left: 10px solid black;

    .imageWrapper {
      margin-right: 20px;

      .image {
        height: 350px;
        min-width: 260px;

        pointer-events: all;
        cursor: pointer;
      }
    }
  }
}

.navigationButtonsContainer {
  z-index: 10;
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 100%;

  position: absolute;

  .navigationButtonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    &.left {
    }

    &.right {
    }

    .navigationButton {
      pointer-events: all;
      cursor: pointer;

      height: 100px;
      width: 50px;
    }
  }
}
