.info {
  width: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  padding: var(--spacing-5) 0px;

  .titleWrapper {
    padding: var(--spacing-1) 0px;

    .title {
      font-variation-settings: "wght" 600;
    }
  }

  .bioHeader {
    padding: var(--spacing-1) 0px;

    .text {
      font-variation-settings: "wght" 550;
    }
  }

  .bioText {
    padding: var(--spacing-5) 0px;

    .text {
      font-variation-settings: "wght" 300;
    }
  }

  @media screen and (max-width: 375px) {
    padding: 0px;
  }
}
