.imageContainer {
  width: 100%;
  min-height: 500px;
  position: relative;

  cursor: pointer;

  display: flex;
  justify-content: space-between;

  cursor: pointer;

  .imageWithContentWrapper {
    height: 500px;
    width: 80%;
    position: relative;

    .imageWithContent {
      height: 80%;
      width: 100%;
      object-fit: cover;
      position: absolute;

      transition: opacity 1s cubic-bezier(0.25, 1, 0.5, 1);
    }
  }

  .smallImagesDisplay {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    cursor: pointer;

    .smallImageWithContentWrapper {
      height: 80px;
      width: 100%;
      margin-bottom: 1vw;

      .smallImageWithContent {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .textArea {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;

    .fontType {
      height: 100%;
      width: 50%;
    }

    .fontTypeBio {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 50%;

      height: 30px;
      overflow: hidden;
      .fontTypeSpanBio {
        position: absolute;

        transition: top 0.5s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.3s ease;
      }
    }
  }
}

.mainImageContainer {
  width: 100%;
  min-height: 500px;
  position: relative;

  img {
    height: 500px;
    width: 100%;
    object-fit: cover;
  }

  .textArea {
    position: absolute;

    padding: 2vw;

    bottom: 0;
    right: 0;
    width: 30%;
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    background-color: rgba(145, 180, 194, 0.798);
  }
}

.imageClicked {
  transition: all 1s ease;
  position: absolute !important;
  transform: scale(4);
}

@keyframes increaseSize {
  0% {
    opacity: 1;
    transform: scale(1);
  }
}
