.extendedProductInfo {
  height: 100%;
}

.infoWrapper {
  display: flex;
  flex-direction: column;

  gap: var(--spacing-2);

  width: 30%;

  .infoTitle {
  }
}

.elWrapper {
  border-bottom: 0.5px solid var(--c-grey-200);

  display: flex;
  justify-content: space-between;

  padding: var(--spacing-1) 0px;
}

.bioText {
}

.textWeight {
  font-variation-settings: "wght" 350;
}
