.exploreNewIn {
  border: 1px solid rgba(149, 185, 229, 0.504);
  .sideWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    height: clamp(100px, 30vw, 500px);

    .left {
      width: 50%;
      height: 100%;
      background-color: gainsboro;
    }

    .right {
      width: 50%;
      height: 100%;
      background-color: antiquewhite;
    }
  }
}

.textBackgroundImage {
  display: flex;

  align-items: center;
  justify-content: center;

  background-image: url(../../../assets/blueFlowerWhiteBackground.webp);
  object-fit: contain;
  object-position: center;

  width: 100%;
  height: 100%;

  .textContainer {
    width: 95%;
    height: 95%;

    border: 1px solid rgba(149, 185, 229, 0.504);

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

    .textWrapper {
      width: 70%;
      height: 70%;
      display: flex;
      justify-content: center;
      align-items: center;

      .text {
        font-size: clamp(10px, 3vw, 50px);
        font-variation-settings: "wght" 300;
      }
    }
  }
}

.imageContainer {
  width: 100%;
  height: 100%;

  .image {
    height: 100%;
    width: 100%;

    object-fit: cover;
  }
}
