.exploreNewIn {
  .sideWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    height: clamp(100px, 30vw, 500px);

    .left {
      width: 50%;
      height: 100%;
    }

    .right {
      width: 50%;
      height: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

.textContainer {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-3);

  .title,
  .text,
  .bio {
    width: 70%;
    text-align: center;
  }

  .title {
    padding: var(--spacing-2);
    font-variation-settings: "wght" 450;
  }

  .text {
    font-variation-settings: "wght" 400;
    padding: var(--spacing-1);
  }

  .bio {
    padding: var(--spacing-1);
    font-style: italic;
    font-variation-settings: "wght" 250;
  }
}

.link {
  background-color: var(--c-grey-100);
  padding: var(--spacing-1) var(--spacing-4);

  transition: background-color 0.1s ease;

  &:hover {
    background-color: var(--c-grey-200);
    transition: background-color 0.4s ease;
  }

  .text {
    font-variation-settings: "wght" 400;
  }
}

.imageContainer {
  width: 100%;
  height: 100%;

  .image {
    height: 100%;
    width: 100%;

    object-fit: cover;
  }
}
