.exploreNewIn {
  .sideWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 500px;

    .left {
      width: 50%;
      height: 100%;
      background-color: gainsboro;
    }

    .right {
      width: 50%;
      height: 100%;
      background-color: antiquewhite;
    }
  }
}

.textBackgroundImage {
  display: flex;

  align-items: center;

  background-image: url(../../../assets/blueFlowerWhiteBackground.webp);
  object-fit: contain;

  width: 100%;
  height: 100%;

  .textContainer {
    width: 98.5%;
    height: 96%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

    .textWrapper {
      width: 70%;
      height: 70%;
      display: flex;
      justify-content: center;
      align-items: center;

      .text {
        font-size: clamp(30px, 5vw, 50px);
        font-variation-settings: "wght" 300;
      }
    }
  }
}

.imageContainer {
  width: 100%;
  height: 100%;

  .image {
    height: 100%;
    width: 100%;

    object-fit: cover;
  }
}
