.navbar {
  width: 100%;
  position: sticky;
  top: 0;

  background-color: var(--websiteContainerColor);

  display: flex;
  justify-content: center;
  align-items: center;

  .navContent {
    z-index: 999999;
    background-color: orange;
  }
}

.buttonsWrapper {
  background-color: gray;
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
