// Navbar
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;

  width: var(--pageWidhtNoScrollBar);

  position: sticky;
  top: 0;

  z-index: 9999999;
  pointer-events: none;

  .navContent {
    .navWrapper {
      display: flex;
      justify-content: space-between;

      height: 100%;

      .navLogoWrapper {
        pointer-events: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        height: 100%;
      }

      .right {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: var(--spacing-2);

        .navButtonsWrapper {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .shoppingCartWrapper {
          height: 100%;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .navbar {
    .navContent {
      height: 100%;

      .navWrapper {
        height: 100%;
        display: grid;
        grid-template-columns: 50% 50%;

        .navLogoWrapper {
          grid-row: 1;
          grid-column: 1;
          width: 100%;
          height: 100%;

          justify-self: start;
        }

        .navButtonsWrapper {
          grid-row: 2;
          grid-column: 1 / 3;

          width: 100%;
        }

        .shoppingCartWrapper {
          z-index: 10;
          grid-row: 1;
          grid-column: 2;

          justify-self: end;
        }
      }
    }
  }

  .pageOptionTextsContainer {
    width: 100%;
    height: 60%;
    top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    .pageOptionsWrapper {
      width: 80%;
    }
  }
}

@media screen and (max-width: 650px) {
  .navbar {
    position: absolute;
    top: 0;
  }
}
