// Navbar
.navbar {
  position: sticky;
  top: 0;

  background-color: var(--websiteContainerColor);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 999999;

  width: 100%;

  border-bottom: 0.5px solid var(--c-grey-200);

  .navContent {
    .navWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;

      .navLogoWrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 33%;
        height: 100%;
      }

      .navButtonsWrapper {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .shoppingCartWrapper {
        width: 33%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }
}

// NavbarButtons
.buttonsWrapper {
  z-index: 10000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  width: 100%;
  height: 100%;

  background-color: var(--websiteContainerColor);

  .buttonWrapper {
    height: 100%;
  }

  .buttonUnderline {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 140px;
    height: 0.5px;

    background: var(--navUnderlineColor);
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.01),
      0 0 0 1px rgba(27, 31, 35, 0.01);

    transition: transform 0.15s ease;

    pointer-events: none;
  }
}

// NavButton
.button {
  width: 140px;
  height: 100%;
}

// ShoppingCart variable
.shoppingCart {
  z-index: 10000;
  width: 33%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  position: relative;

  overflow: hidden;

  // shoppingBagText variable
  .shoppingBagText {
    padding-right: var(--step-1);

    transition: opacity 0.4s ease, transform 1s ease;
    opacity: 0;

    position: absolute;
    transform: translateX(60px);
    right: 0px;

    z-index: 1;
    cursor: pointer;

    background: linear-gradient(
      90deg,
      #333 0%,
      #ddd 30%,
      #fff 50%,
      #ddd 70%,
      #333 100%
    );

    background-size: 200% 100%;
    background-position: -50% 0%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: highlightMove 3s ease infinite;
    animation-delay: 2s;

    display: flex;

    .cartText {
      font-weight: 300;
      white-space: nowrap;
    }
    .whiteText {
      color: white !important;
      opacity: 0;
    }

    @keyframes highlightMove {
      0% {
        background-position: -250% 0%;
        -webkit-text-fill-color: black;
      }

      1% {
        -webkit-text-fill-color: transparent;
      }

      45% {
        background-position: -50% 0%;
      }

      100% {
        background-position: -50% 0%;
      }
    }
  }

  // shoppingBagSvgWrapper
  .shoppingBagWrapper {
    cursor: pointer;
    width: 30px;
    height: 30px;
    z-index: 10;

    background-color: var(--websiteContainerColor); // hides text
  }

  &:hover {
    .shoppingBagText {
      transform: translateX(35px);
      opacity: 1;
    }
  }

  // totalItemsInCartWrapper variable
  .totalItemsInCartWrapper {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 0;

    z-index: 10000;
    background-color: var(--websiteContainerColor);
    border: 1px solid var(--c-grey-300);

    border-radius: 100px;
    padding: 0px 3px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1024px) {
  .navbar {
    .navContent {
      height: 100%;

      .navWrapper {
        height: 100%;
        display: grid;
        grid-template-columns: 50% 50%;

        .navLogoWrapper {
          grid-row: 1;
          grid-column: 1;
          width: 100%;
          height: 100%;

          justify-self: start;
        }

        .navButtonsWrapper {
          grid-row: 2;
          grid-column: 1 / 3;

          width: 100%;
        }

        .shoppingCartWrapper {
          z-index: 10;
          grid-row: 1;
          grid-column: 2;

          justify-self: end;
        }
      }
    }
  }

  .pageOptionTextsContainer {
    width: 100%;
    height: 60%;
    top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    .pageOptionsWrapper {
      width: 80%;
    }
  }

  .buttonsWrapper {
    min-width: 100%;
    .buttonWrapper {
      width: 100%;
      background-color: orange;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .buttonUnderline {
      width: 33%;
    }
  }

  .button {
    width: 100%;
  }
}
