.navbar {
  width: 100%;
  position: sticky;
  top: 0;

  background-color: var(--websiteContainerColor);

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.01), 0 0 0 1px rgba(27, 31, 35, 0.02);

  .navContent {
    z-index: 999999;
  }
}

.buttonsWrapper {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  .buttonWrapper {
  }

  .buttonUnderline {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 140px;
    height: 0.1px;

    background: rgb(144, 144, 144);

    transition: left 0.15s ease;
    pointer-events: none;

    &:hover {
      background-color: black;
      height: 10px;
    }
  }
}

.button {
  width: 140px;
}
