.categories {
  margin-left: -50px;

  .contentWrapper {
    animation: appearFromBottom 1s ease forwards;
    animation-delay: 1s;
    will-change: transform, opacity, gap;
    transform: translateY(5%) scaleY(1.02);
    opacity: 0;
    gap: clamp(10px, 5vw, 30px);

    display: flex;
    flex-direction: column;

    min-width: 300px;
    max-width: 500px;

    padding: var(--spacing-4);

    .textWrapper {
      padding: var(--spacing-1) var(--spacing-4);
    }

    .buttonWrapper {
      padding: var(--spacing-1) var(--spacing-4);
      display: flex;
      flex-direction: column;
      gap: var(--spacing-2);
    }
  }
}

.button {
  background-color: rgba(72, 72, 72, 0.027);

  cursor: pointer;

  position: relative;

  transition: background-color 0.4s ease;

  width: clamp(150px, 15vw, max-content);

  border: 3px solid var(--c-white);
  outline: none;

  display: grid;
  justify-items: center;

  overflow: hidden;

  .textOne,
  .textTwo {
    grid-column: 1;
    grid-row: 1;
    z-index: 2;

    padding: calc(var(--spacing-1) * 0.8) var(--spacing-1);

    font-variation-settings: "wght" 800;
    font-size: var(--spacing-3);

    animation-delay: 0.3s;
    will-change: transform, opacity;

    .l {
      will-change: transform, opacity;
      transition: transform 0.5s ease, opacity 0.3s ease;
    }
  }

  .textOne {
    display: flex;

    .l {
      color: var(--c-white);
    }
  }

  .textTwo {
    opacity: 0;
    display: flex;

    .l {
      opacity: 0;
      color: black;
    }
  }

  .buttonBackgroundWrapper {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;

    overflow: hidden;

    .buttonBackgroundFadeIn {
      will-change: bottom;
      background-color: var(--c-white);
      height: 100%;
      width: 100%;
      position: absolute;
      bottom: -150px;
      left: 0;
    }

    .buttonBackgroundFadeOut {
      will-change: top;
      height: 100%;
      width: 100%;
      position: absolute;
      top: -150px;
      left: 0;
      background-color: var(--c-grey-100);
      transition: top 0.45s ease-out;
    }
  }

  &:hover {
    .buttonBackgroundWrapper {
      .buttonBackgroundFadeIn {
        transition: bottom 0.5s ease-out;
        bottom: 0;
      }

      .buttonBackgroundFadeOut {
        transition: top 0.3s ease-in;
        top: 0px;
        background-color: rgba(255, 255, 255, 0);
      }
    }

    .textOne {
      animation: fadeOutTop 0.4s ease forwards !important;

      .l {
      }
    }

    .textTwo {
      animation: appearFromBottom 0.5s ease forwards;
      animation-delay: 0.2s !important;

      display: flex;

      .l {
        opacity: 1 !important;

        transform: translateY(0%) !important;
        transition-delay: 0.2s;
      }
    }
  }

  &:not(:hover) {
    .textOne {
      opacity: 0;
      animation: appearFromBottom 0.5s ease forwards;
      animation-delay: 0.2s;

      .l {
        opacity: 1 !important;
        transform: translateY(0%) !important;
        transition-delay: 0.2s;
      }
    }

    .textTwo {
      animation: fadeOutTop 0.3s ease forwards !important;
      .l {
      }
    }
  }
}

.textContainer {
  max-width: 20vw;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);

  .textTitle,
  .textBio {
  }

  .textTitle {
    font-variation-settings: "wght" 650;
  }

  .textBio {
    font-variation-settings: "wght" 450;
  }
}

@keyframes fadeOutTop {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  60% {
    transform: translateY(-12.5%);
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: translateY(10%);
  }
}

@keyframes appearFromTop {
  from {
    pointer-events: none;
    opacity: 0;
    transform: translateY(-100%);
  }

  to {
    pointer-events: all;
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes appearFromBottom {
  0% {
    pointer-events: none;
    transform: translateY(5%) scaleY(1.02);
    gap: calc(clamp(10px, 5vw, 30px) + 20px) 0px;
  }

  100% {
    pointer-events: all;
    transform: translate(0) scaleY(1);
    opacity: 1;

    gap: clamp(10px, 5vw, 30px) 0px;
  }
}
