// ShoppingCart variable
.shoppingCart {
  pointer-events: all;

  z-index: 10000;

  cursor: pointer;

  position: relative;

  color: var(--c-grey-400);

  transition: color 0.2s ease;

  height: var(--spacing-6);

  padding: var(--spacing-1);

  border: none;
  background-color: inherit;

  display: flex;
  align-items: center;

  &:hover {
    color: black;
    transition: color 0.3s ease;
  }

  .text {
    display: flex;
    justify-content: space-between;

    .amount {
      width: 20px;
      padding: 0px calc(var(--spacing-1) / 2);

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
