.buttonWithContent {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: var(--websiteContainerColor);
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: background-color;

  height: 100%;
  width: 100%;

  .childrenWrapper {
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s ease;

    .font {
      transition: transform 0.7s ease, color 0.4s ease;
      color: var(--fontColor);
      font-variation-settings: "wght" 450;
    }

    &:hover {
      .font {
        color: black;
        transform: scale(1.01);
      }
    }
  }
}
