// ProductInfo
.infoSection {
  padding: var(--spacing-7);
  padding-right: var(--spacing-2);

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  width: 100%;
  height: 100%;

  .closeWrapper {
    display: flex;
    justify-content: flex-end;
  }

  .productTitleAndBioWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: var(--spacing-4) 0px;
  }
}

.closeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--spacing-1);
  padding: calc(var(--spacing-1) / 4);

  transition: background-color 0.1s ease;
  background-color: var(--c-grey-100);

  svg {
    transition: filter 0.1s ease;
  }

  &:hover {
    transition: background-color 0.6s ease;
    background-color: var(--c-grey-200);
    transform: rotate(-90deg);

    svg {
      filter: invert(0.3);
      transition: filter 0.2s ease;
      animation: bounce-spin 0.4s ease-out forwards;
    }
  }

  @keyframes bounce-spin {
    0% {
      transform: rotate(0deg);
    }

    50% {
      transform: rotate(110deg);
    }

    75% {
      transform: rotate(85deg);
    }

    90% {
      transform: rotate(95deg);
    }

    100% {
      transform: rotate(90deg);
    }
  }
}

// QuickViewImageOptions
.allImagesExamples {
  width: fit-content;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-1);
  flex-wrap: wrap;

  padding: var(--spacing-2) 0px;

  .borderContainer {
    border-radius: var(--spacing-1);

    overflow: hidden;

    padding: var(--spacing-1);

    transition: border 0.2s ease;
    will-change: border;

    .imageExample {
      border-radius: var(--spacing-1);
      width: var(--spacing-7);
      max-height: var(--spacing-7);

      cursor: pointer;

      object-fit: cover;
      object-position: center;
    }
  }

  .activeBorder {
    border: 1px solid var(--c-grey-300);
  }

  .inactiveBorder {
    border: 1px solid var(--c-grey-100);
  }
}
