// FilterSideBar
.filterSideBar {
  width: 80%;
  height: 100%;

  position: relative;

  .filterUl {
    position: sticky;
    top: 60px;

    @media screen and (max-width: 1024px) {
      top: 110px;
    }
    .filterLi {
      padding: 0.5vw;

      display: flex;
      align-items: center;

      .filterLabel {
        cursor: pointer;
        // check-box which is hidden but enables functionality

        position: relative;
        .filterInput {
          display: none;
        }

        // container for text and corresponding line
        .textAndUnderline {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }

        // class applied if button is clicked
        .activeFilter {
        }
      }
    }
  }
}
