// FilterSideBar
.filterSideBar {
  width: 80%;
  height: 100%;

  position: relative;

  .filterUl {
    position: sticky;
    top: 60px;

    @media screen and (max-width: 1024px) {
      top: 110px;
    }
    .filterLi {
      padding: 0.5vw;

      display: flex;
      align-items: center;

      .filterLabel {
        cursor: pointer;
        // check-box which is hidden but enables functionality
        .filterInput {
          display: none;
        }

        // container for text and corresponding line
        .textAndUnderline {
          width: 107%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          // text for filterLabel
          .filterText {
            font-variation-settings: "wght" 350;
            padding: 2px 0px;
            transition: text-shadow 0.2s ease;

            color: var(--c-text-300);
          }

          // underline that has animation to highlight hover-state
          .underline {
            height: 1.2px !important;
            width: 100%;
            background-color: var(--c-text-300);

            position: relative;

            .underlineDot {
              position: absolute;
              background-color: var(--c-grey-100);
              height: 5px;
              width: 10px;
              left: -15px;
              top: -1.35px;

              border-radius: 100px;

              pointer-events: none;
            }
          }
        }

        &:not(.activeFilter):hover {
          .textAndUnderline {
            .filterText {
              color: var(--c-text-black);
              text-shadow: -0.1px -0.1px 0 black, 0.1px -0.15px 0 black,
                -0.1px 0.1px 0 black, 0.11px 0.1px 0 black;
            }

            .underline {
              background-color: var(--c-text-black);

              .underlineDot {
                left: 103% !important;
                transition: left 0.9s cubic-bezier(0.55, 0, 0.1, 1);
              }
            }
          }
        }
      }
    }
  }
}

// for when user clicks a filter
.activeFilter {
  .textAndUnderline {
    .filterText {
      font-weight: 500 !important;
      color: var(--c-text-black) !important;
      text-shadow: -0.2px -0.2px 0 black, 0.2px -0.2px 0 black,
        -0.2px 0.2px 0 black, 0.2px 0.2px 0 black;
    }
    .underline {
      height: 1.5px;
      background-color: var(--c-text-black) !important;

      .underlineDot {
        left: 110% !important;
      }
    }
  }
}
