// PageSelector
.pageSelector {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 20px;

  background-color: var(--c-grey-100);

  width: 250px;
}

// PageNumbers
.currentPageWrapper {
  width: 100px;
  height: 100%;

  display: grid;
  justify-content: space-evenly;
  align-content: center;
  grid-template-columns: 30% 30% 30%;
}

// RightButton
// LeftButton
// all numbered buttons (1, 2, 3...)
.pageSelectorButton {
  border: none;
  outline: none;

  background-color: var(--c-grey-100);

  cursor: pointer;

  position: relative;
  .btnText {
    width: 70%;
    height: 95%;
    color: var(--c-text-black);

    transition: filter 0.4s ease;

    filter: opacity(60%);
  }

  &:hover {
    .btnText {
      filter: opacity(100%);
    }
  }
}

.backToZeroButtonWrapper {
  padding-left: 10px;
}

.leftButtonWrapper {
  height: 30px;
}

.rightButtonWrapper {
  height: 30px;
  transform: rotateY(180deg);
}

// BackToZeroButton
.pageSelectorButtonWrapper {
}
