// WheelOfManyImages
.WheelOfManyImages {
  height: 100%;
  width: 100%;
  position: relative;
}

// Images
.imagesContainer {
  display: flex;
  justify-content: center;

  overflow-x: hidden;
  pointer-events: none;

  // relative for navigationButtonsContainer

  // mappedImages
  .imagesWrapper {
    display: flex;

    will-change: transform;

    .imageWrapper {
      margin-right: var(--spacing-2);
      width: 15vw;
      max-width: 250px;

      pointer-events: all;
      cursor: pointer;

      // for quickViewButton
      position: relative;

      img {
        background-color: var(--c-grey-100);
      }

      @media screen and (min-width: 1025px) {
        img {
          padding: var(--spacing-3) 0px;
        }
      }

      .bioContainer {
        padding: var(--spacing-1) 0;

        .bio {
          text-underline-offset: calc(var(--spacing-1) / 2);
          text-decoration-thickness: 1px;
        }

        .size {
          font-style: italic;
        }

        .price {
        }

        .type {
          span {
            font-style: italic;
          }
        }
      }
    }
  }
}
