// setOfImagesWithText
.setOfImagesWithText {
  --text-height: 60px;
  --bio-height: calc(var(--text-height) / 2);

  display: flex;
  flex-direction: column;
  justify-content: center;

  // imagesMap
  .imagesContainer {
    cursor: pointer;

    width: 100%;
    overflow: hidden;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .imageWrapper {
      overflow: hidden;
      height: clamp(300px, 30vw, 500px);
    }
  }

  .imagesTextWrapper {
    min-height: var(--text-height);
  }

  // bioTitle
  .textBioTitle {
    height: var(--bio-height);
    font-variation-settings: "wght" 550;
  }

  // scrollingText
  .textBioBio {
    height: var(--bio-height);
    position: relative;
    overflow: hidden;
  }
}
