.cart {
  z-index: 99999999;
  position: fixed;
  top: 0;
  right: 0;

  width: 100%;
  max-width: inherit;
  height: 100%;

  display: flex;
  justify-content: flex-end;

  // wrapper for products which have been added to cart by user
  .cartWrapper {
    will-change: transform;
    z-index: 10;

    overflow: hidden;

    height: 100%;
    width: 60%;

    display: flex;

    justify-content: space-between;

    transition: opacity 0.3s ease;
    background-color: var(--websiteContainerColor);

    padding: var(--spacing-3);

    .leftSection,
    .rightSection {
      padding: var(--spacing-3);
      display: flex;
      flex-direction: column;
    }

    .leftSection {
      width: 40%;

      justify-content: space-between;

      // title variable
      .title {
        font-variation-settings: "wght" 300;
      }

      .cartBottomSection {
      }

      // totalProductsWrapper variable
      .totalProductsWrapper {
        padding-bottom: var(--spacing-3);
      }

      // toPaymentMthodWrapper variable
      .toPaymentMethodWrapper {
        height: 50px;
        width: 100%;
      }
    }
  }

  // totalElements variable
  .totalProducts {
    .totalText {
      font-variation-settings: "wght" 350;

      margin: var(--spacing-1) 0px;

      width: fit-content;

      position: relative;
      &::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: var(--c-grey-400);

        position: absolute;
        top: var(--spacing-3);
        left: 0px;
      }
    }
  }

  .rightSection {
    flex: 1;

    .closeButtonWrapper {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-bottom: var(--spacing-4);
    }
    // productsWrapper variable
    .productsWrapper {
      padding-right: var(--spacing-3);

      display: flex;
      justify-content: center;

      height: 100%;
      width: 100%;

      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 8px;
        padding: var(--spacing-1);
      }

      &::-webkit-scrollbar-track {
        background-color: var(--backgroundColor);
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--c-grey-200);
      }

      &::-webkit-scrollbar-thumb:hover {
      }
    }
  }
}

.closed {
  opacity: 0 !important;
  pointer-events: none;
}

.cartClosed {
  pointer-events: none;
}

.closeButton {
  height: fit-content;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  background-color: var(--backgroundColor);

  cursor: pointer;

  &:hover {
    background-color: var(--c-grey-100);
  }
}

// ToPaymentMethod
.paymentLink {
  height: 100%;
  width: 100%;

  border-radius: var(--spacing-1);
  border: 1px solid var(--c-grey-200);
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.4s ease;

  &:hover {
    background-color: var(--c-grey-200);
  }

  .paymentMethodText {
  }
}

.isOpen {
  animation: cartOpen 1s ease 1 forwards !important;
  opacity: 1;
}

.isClosed {
  opacity: 0;
  pointer-events: none;
}

@keyframes cartOpen {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

@media screen and (min-width: 650px) {
  .cart {
    .clickBack {
      background-color: var(--c-grey-100);
      opacity: 0.5;

      cursor: pointer;
      height: 100%;
      width: 100%;
      position: fixed;
      left: 0;

      transition: opacity 1s ease;
    }
  }
}

@media screen and (max-width: 1024px) {
  .cartWrapper {
    flex-direction: column;
    overflow-y: scroll !important;
    width: 100%;

    .leftSection,
    .rightSection {
      width: 100% !important;
    }

    .rightSection {
      padding: 0 !important;
    }

    .closeButtonWrapper {
      position: absolute;
      top: 0;
      right: 0;
      padding: var(--spacing-3) !important;
    }

    .productsWrapper {
      padding: 0px !important;

      .product {
        background-color: green !important;
      }
    }
  }

  @media screen and (max-width: 650px) {
  }
}
