// ButtonWithUnderlineAndUndertext
.mainImageWrapperText {
  max-height: 400px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  width: 100%;

  .mainImageWrapper {
    width: 100%;
  }
}

// MainImageSpan
.mainImageSpan {
  cursor: pointer;

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .mainImageSpanText {
    font-variation-settings: "wght" 450;
    font-size: clamp(20px, 2.2vw, 30px);
    text-shadow: -1.5px -1.5px 0 white, 1.5px -1.5px 0 white,
      -1.5px 1.5px 0 white, 1.5px 1.5px 0 white;
    position: relative;

    // text
    &::after {
      position: absolute;
      left: 72%;
      bottom: -48%;

      content: "explore";
      font-size: 60%;

      opacity: 0;

      transition: all 0.4s ease;
    }

    // underline
    &::before {
      content: "";
      height: 3%;
      min-height: 1.5px;
      width: 70%;

      background-color: black;

      position: absolute;
      left: 0;
      bottom: -25%;

      transition: width 0.4s ease;
    }

    &:hover {
      &::after {
        opacity: 1;
        left: 60%;
      }

      &::before {
        width: 55%;
      }
    }
  }

  // class which is active if jsx-boolean is truthy
  // forces hover-state
  .activeClass {
    &::after {
      opacity: 1;
      left: 60%;
    }

    &::before {
      width: 55%;
    }
  }
}
