// ButtonWithUnderlineAndUndertext
.mainImageWrapperText {
  max-height: 400px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .mainImageWrapper {
  }
}

// MainImageSpan
.mainImageSpan {
  cursor: pointer;

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .mainImageSpanText {
    font-variation-settings: "wght" 450;
    font-size: clamp(20px, 2.2vw, 30px);
    text-shadow: -1.5px -1.5px 0 white, 1.5px -1.5px 0 white,
      -1.5px 1.5px 0 white, 1.5px 1.5px 0 white;
  }
}

// UnderlineSpan
.underlineSpanContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  padding-left: 2px;

  // buttonHoveringElement
  .buttonHoveringElement {
    padding-left: 0.3vw;
    height: 20px;
    width: fit-content;

    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0.55, 0.05, 0.9, 0.35);

    margin-top: -5px;

    display: flex;
    align-items: center;
    justify-content: center;

    .buttonHoveringText {
      color: black;
      font-variation-settings: "wght" 450;
    }
  }

  .underlineSpan {
    height: 1.5px;
    width: 100px;

    border-radius: 9000px;
    background-color: black;

    transition: width 0.4s ease;
  }
}

// displays explore-text and smaller underline on hover
.mainImageWrapperText:hover .underlineSpanContainer {
  cursor: pointer;
  .underlineSpan {
    width: 80px;
  }

  .buttonHoveringElement {
    opacity: 1;
  }
}
