// NavigationButtons
.navigationButtonsContainer {
  z-index: 10;
  display: flex;
  justify-content: space-between;

  // positioned inside of imagesContainer
  position: absolute;
  top: -20%;

  .title {
    font-variation-settings: "wght" 400;
  }

  .navigationButtonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 var(--spacing-4);

    &.left {
      margin-left: 10px;
    }

    &.right {
      margin-right: 10px;
    }

    .navigationButton {
      pointer-events: all;
      cursor: pointer;

      border: none;

      background-color: transparent;

      .buttonArrow {
        color: black;
      }

      &:hover {
        opacity: 1;

        .buttonArrow {
          color: black;
        }
      }
    }
  }
}
