.cart {
  z-index: 999999;
  position: fixed;
  top: 0;
  right: 0;

  width: clamp(400px, (30rem + 30vw), 900px);
  height: 100%;

  display: flex;
  justify-content: center;

  &::after {
    content: "";
    width: 100%;
    height: 100%;

    background-color: var(--c-grey-100);
    opacity: 0.5;

    position: fixed;
    left: 0;
    top: 0;

    will-change: opacity;
    animation: opacityUp 1s ease 1 forwards;
    opacity: 0;
    z-index: 9;
    cursor: pointer;
  }

  // wrapper for products which have been added to cart by user
  .cartWrapper {
    z-index: 10;

    overflow: hidden;

    height: 100%;
    width: 100%;

    display: flex;

    justify-content: space-between;

    transition: opacity 0.3s ease;

    .leftSection,
    .rightSection {
      padding: var(--spacing-3);
      display: flex;
      flex-direction: column;
      width: 50%;
    }

    .leftSection {
      justify-content: space-between;

      background-color: var(--websiteContainerColor);
      // title variable
      .title {
        font-variation-settings: "wght" 300;
      }

      .cartBottomSection {
      }

      // totalProductsWrapper variable
      .totalProductsWrapper {
      }

      // toPaymentMthodWrapper variable
      .toPaymentMethodWrapper {
        height: 50px;
      }

      @media screen and (min-width: 1441px) {
        border-right: 1px solid var(--c-grey-300);
      }

      @media screen and (max-width: 375px) {
        width: 100%;
      }
    }

    @media screen and (min-width: 1441px) {
      width: 95vw;
      max-width: 1440px;
    }

    @media screen and (max-width: 1440px) {
      right: 0;
    }
  }

  // totalElements variable
  .totalProducts {
    .totalText {
      font-variation-settings: "wght" 350;

      margin: var(--spacing-1) 0px;

      width: fit-content;

      position: relative;
      &::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: var(--c-grey-400);

        position: absolute;
        top: var(--spacing-3);
        left: 0px;
      }
    }
  }

  .rightSection {
    height: 100%;
    background-color: var(--themeColor);

    .closeButtonWrapper {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-bottom: var(--spacing-1);
    }
    // productsWrapper variable
    .productsWrapper {
      border-top: 1px solid var(--c-grey-200);
      border-bottom: 1px solid var(--c-grey-200);

      display: flex;
      justify-content: center;

      height: 100%;
      width: 100%;

      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 8px;
        padding: var(--spacing-1);
      }

      &::-webkit-scrollbar-track {
        background-color: var(--backgroundColor);
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--c-grey-200);
      }

      &::-webkit-scrollbar-thumb:hover {
      }
    }
  }
}

.closeButton {
  height: fit-content;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  background-color: var(--backgroundColor);

  cursor: pointer;

  &:hover {
    background-color: var(--c-grey-100);
  }
}

.isOpen {
  animation: cartOpen 1s ease 1 forwards !important;
  opacity: 1;
}

.isClosed {
  opacity: 0;
}

.paymentMethodText {
}

@keyframes cartOpen {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes opacityUp {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}
