.home {
  .servicesWrapper {
    @media screen and (max-width: 1024px) {
      /*
  * disable component for smaller screens *
  navigation requires mouse for smooth interaction
  so disabling it will lead to better user-experience for
  smaller screen
  */
      display: none !important;
    }
  }

  .topSection {
  }

  .categoriesSection {
  }

  .printSection {
  }

  .serviceSection {
  }

  .paintingSection {
  }

  .newInSection {
  }
}

.sectionSeperationWrapper {
  width: 100%;

  margin-top: 2.5vw;
  margin-bottom: 2.5vw;

  border: 1px solid orange;

  @media screen and (min-width: 1024px) {
    height: var(--spacing-6);

    &.lowMargin {
      height: var(--spacing-6);
    }
  }

  @media screen and (max-width: 1024px) {
    height: var(--spacing-2);
  }

  &.lowMargin {
    height: var(--spacing-2);
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
