.sectionSeperationWrapper {
  width: 100%;
  height: 5vw;

  margin-top: 2.5vw;
  margin-bottom: 2.5vw;

  &.lowMargin {
    height: 5vw;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.topSection {
}

.categoriesSection {
}

.printSection {
}

.serviceSection {
}

.paintingSection {
}

.newInSection {
}
