.widthContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  max-width: 1500px;
  min-height: 100vh;

  background-color: var(--websiteContainerColor);
  position: relative;

  overflow: hidden;

  .whiteBackground {
    position: fixed;
    top: 0;

    height: 100%;
    width: var(--pageWidhtNoScrollBar);

    z-index: 9999999;

    background-color: var(--websiteContainerColor);

    animation: whiteFadeOut 0.7s cubic-bezier(0.5, 0.05, 0.8, 0.2) 1 forwards;
    animation-delay: 0.3s;
  }

  .contentWrapper {
    height: 100%;
    height: 100%;

    /* All CONTENT (Except unique components, ex: navbar(which should still obide by the general approach of sizes)) will be inside a defined width. This should not match max-screen-width */
    /* contentWrapper styled definitions */
    /* big screens */
    @media screen and (min-width: 1440px) {
      width: 95vw;
      max-width: 1440px;
    }

    @media screen and (max-width: 1440px) {
      width: 90vw;
    }

    /* normal desktop */
    @media screen and (max-width: 1400px) {
      width: 80vw;
      max-width: 1000px;
    }

    /* normal laptop */
    @media screen and (max-width: 1024px) {
      max-width: 650px;
    }

    /* tablet */
    @media screen and (max-width: 800px) {
      max-width: 530px;
    }

    /* tablet small */
    @media screen and (max-width: 650px) {
      max-width: 425px;
    }

    /* mobile */
    @media screen and (max-width: 425px) {
      max-width: 250px;
    }

    /* mobile s */
    @media screen and (max-width: 375px) {
    }
  }

  .paddingClass {
    // padding-top: var(--spacing-2);
  }
}

@keyframes whiteFadeOut {
  0% {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  }

  99% {
    transform: translateY(100%);
    opacity: 1;
    visibility: visible;
  }

  100% {
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
