.productImageWrapper {
  cursor: pointer;

  background-color: var(--c-grey-100);
  aspect-ratio: 1 / 1; // force images to stay the same size regardless of them being originally different sizes

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden; // allows quickview button not to bug by being hovered outside of the container

  .productImage {
    width: 100%;
    height: 100%;

    object-fit: contain;
    object-position: center;

    padding: 10%;

    opacity: 0;

    &:hover ~ .quickViewButtonComponentWrapper {
      transform: translateY(-150%);
      opacity: 1;
    }
  }
}

.loaded {
  opacity: 1 !important;
}

.quickViewButtonComponentWrapper {
  min-height: 3vw;
  width: 80%;

  background-color: orange;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease, opacity 0.1s ease;
  opacity: 0;

  pointer-events: auto;

  // hover applies also to button, otherwise, button will close as the initial trigger is frm hovering it's sibling-element, which button will eventually cover partially
  &:hover {
    transform: translateY(-150%);
    opacity: 1;
  }
}
