// Contact
.contact {
  width: fit-content;
  max-width: 100%;
  padding: var(--spacing-3) 0px;

  .emailWrapper {
    max-width: inherit;
  }

  .socialMediaWrapper {
  }
}

// Section
.section {
  height: 100%;

  display: flex;
  align-items: center;

  padding: var(--spacing-1) 0px;

  .sectionWrapper {
    padding: 0px var(--spacing-2);
    max-width: 100%;

    display: flex;

    .link {
      padding: 0px var(--spacing-1);
      cursor: pointer;
      color: var(--c-grey-500);
      max-width: inherit;
    }
  }
  @media screen and (max-width: 375px) {
    flex-direction: column;

    .SVGWrapper {
      margin-bottom: var(--spacing-3);
    }
  }
}

// LocalSvgWrapper
.localSvgContainer {
  display: flex;
  .svgWrapper {
    display: flex;

    width: var(--spacing-3);

    &:first-child {
      margin-left: 0px;
    }
  }
}

// SVGWrapper
.SVGWrapper {
  display: flex;
  height: 20px;
}

// emailContact
.contactText {
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-wrap: wrap;
}
