.addToCartContainer {
  width: 100%;

  display: flex;
  align-items: center;

  background-color: var(--c-grey-100);
  transition: background-color 0.1s ease;

  border-radius: var(--spacing-1);

  padding: var(--spacing-1);

  &:hover {
    transition: background-color 0.4s ease;
    background-color: var(--c-grey-200);
  }
}
