.addToCartContainer {
  width: 100%;
  cursor: pointer;

  display: flex;
  align-items: center;

  background-color: var(--c-grey-100);
  transition: background-color 0.1s ease;

  padding: var(--spacing-1);
  position: relative;

  .amountContainer {
    display: flex;
    width: fit-content;
    background-color: inherit;

    .input {
      z-index: 2;
      border: none;
      outline: none;
      background-color: inherit;

      padding: var(--spacing-1);
    }

    input[type="number"] {
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        cursor: pointer;
        opacity: 1;
        padding: calc(var(--spacing-1) / 4);
      }
    }
  }

  .addToCartBtn {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    border: none;

    background-color: inherit;

    .text {
    }
  }

  &:hover {
    transition: background-color 0.4s ease;
    background-color: var(--c-grey-200);

    .input {
      background-color: var(--c-grey-100);
    }
  }
}
