.addToCartContainer {
  width: 100%;
  cursor: pointer;

  display: flex;
  align-items: center;

  transition: background-color 0.1s ease;

  padding: var(--spacing-1);
  position: relative;

  .amountContainer {
    display: flex;
    width: fit-content;
    background-color: inherit;

    .input {
      z-index: 2;
      border: none;
      outline: none;
      background-color: inherit;

      padding: var(--spacing-1);
    }

    input[type="number"] {
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        cursor: pointer;
        opacity: 1;
        padding: calc(var(--spacing-1) / 4);
      }
    }
  }

  .addToCartBtn {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    border: none;
    border-bottom: 1px solid var(--c-grey-200);
    color: var(--c-grey-500);

    background-color: inherit;

    .text {
    }
  }

  &:hover {
    // background-color: var(--c-grey-200);

    .addToCartBtn {
      transition: border 0.4s ease;
      border-bottom: 1px solid var(--c-grey-300);
    }

    .text {
      transition: color 0.4s ease;
      color: black;
    }

    .input {
    }
  }
}
