// SectionSeperationImage
.sectionSeperationImageWrapper {
  width: 100%;
  height: 100%;

  overflow: hidden;

  background-color: var(--websiteContainerColor);

  .image {
    object-fit: contain;
    transition: all 0.01s ease;
  }
}
