// WheelOfManyImages
.WheelOfManyImages {
  height: 100%;
  width: 100%;
}

// Images
.imagesContainer {
  display: flex;
  justify-content: center;

  overflow: hidden;

  pointer-events: none;

  // relative for navigationButtonsContainer
  position: relative;

  // mappedImages
  .imagesWrapper {
    display: flex;

    will-change: transform;

    .imageWrapper {
      margin-right: var(--spacing-2);
      width: 15vw;
      max-width: 250px;

      pointer-events: all;
      cursor: pointer;

      // for quickViewButton
      position: relative;
    }
  }
}
