.widthContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 1500px;
  min-height: 100vh;

  background-color: var(--websiteContainerColor);

  .contentWrapper {
    height: 100%;

    /* All CONTENT (Except unique components, ex: navbar(which should still obide by the general approach of sizes)) will be inside a defined width. This should not match max-screen-width */
    /* contentWrapper styled definitions */
    /* big screens */
    @media screen and (min-width: 1440px) {
      width: 95vw;
      max-width: 1440px;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        font-size: 1.4rem;
      }
    }

    @media screen and (max-width: 1440px) {
      width: 90vw;
    }

    /* normal desktop */
    @media screen and (max-width: 1400px) {
      width: 80vw;
      max-width: 1000px;
    }

    /* normal laptop */
    @media screen and (max-width: 1024px) {
      width: 650px;
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        font-size: 0.9rem;
      }
    }

    /* tablet */
    @media screen and (max-width: 800px) {
      width: 530px;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        font-size: 0.8rem;
      }
    }

    /* tablet small */
    @media screen and (max-width: 650px) {
      width: 350px;
    }

    /* mobile */
    @media screen and (max-width: 450px) {
      width: 70vw;
      min-width: 350px;
    }
  }

  .paddingClass {
    // padding-top: 20px;
  }
}
