// ProductDescription
.productDescription {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-top: var(--spacing-2);
  border-bottom: 0.5px solid var(--c-grey-200);
  border-top: 0.5px solid var(--c-grey-200);
  padding: var(--spacing-2) 0px;

  .info {
    display: flex;
    flex-wrap: wrap;
  }
}

// Entry
.entryContainer {
  padding: var(--spacing-4) var(--spacing-3);
  border-left: 0.5px solid var(--c-grey-200);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &:first-of-type {
    border: none; // because borders are only on left side; last-of-type is not needed
  }

  .refContainer {
    display: flex;

    gap: var(--spacing-1);
  }
}

// fn: EntryValue
.value {
  margin-top: -8px;
}

// fn: EntryValue
.ref {
  border-radius: var(--spacing-1);
  height: 30px;
  width: 30px;

  border: 0.5px solid var(--c-grey-300);
}
