// ProductDescription
.productDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .info {
    display: flex;
    flex-direction: column;

    padding: var(--spacing-1) 0px;
  }
}

// Entry
.entryContainer {
  display: flex;
  gap: var(--spacing-3);

  padding: calc(var(--spacing-1) / 2) 0px;

  .entry {
    width: var(--spacing-6);
    text-wrap: wrap;
  }

  .refContainer {
    display: flex;

    gap: var(--spacing-1);

    .ref {
      width: 25px;
      height: 25px;
    }

    .value {
    }
  }
}

// fn: EntryValue
.value {
}

// fn: EntryValue
.ref {
  border-radius: calc(var(--spacing-1) / 2);
  height: 30px;
  width: 30px;

  border: 0.5px solid var(--c-grey-300);
}
