// ProductDescription
.productDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.entryContainer {
  display: flex;
  justify-content: space-between;

  .entry,
  .value {
    font-variation-settings: "wght" 200;
    font-size: calc(var(--step-1) * 0.7);
  }

  .entry {
    width: calc(var(--spacing-6) * 2);
    padding-bottom: calc(var(--spacing-1) / 2);
  }

  .value {
    width: 100%;

    display: flex;
    gap: var(--spacing-1);
  }
}

// fn: EntryValue
.ref {
  border-radius: calc(var(--spacing-1) / 2);

  height: 19.5px;
  width: 20px;

  border: 0.5px solid var(--c-grey-300);
}

@media screen and (max-width: 425px) {
  .entryContainer {
    flex-direction: column;
    padding: var(--spacing-1) 0px;
  }
}

@media screen and (max-width: 200px) {
}
