/* UniqueTopSection */
.uniqueTopSection {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: fit-content;
  max-height: 600px;
  position: relative;

  .uniqueTopLeft {
    flex: 1;
    min-height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-right: var(--spacing-1);

    // wrapper for ButtonsWrapper & UniqueTopSectionBio
    .uniqueTopBottom {
      display: flex;
      justify-content: space-between;

      // ButtonsWrapper
      .left {
        flex: 1;

        display: flex;
        align-items: flex-end;
        padding-right: var(--spacing-4);
      }

      // UniqueTopSectionBio
      .right {
        width: fit-content;
      }
    }
  }

  .uniqueTopRight {
    position: sticky;
    top: 120px;
    width: 50%;

    max-height: 600px;

    display: flex;
  }
}

/* UniqueTopSectionBio */
.bioTextContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;

  .bioTextWrapper {
    width: fit-content;

    .bioTitle,
    .bioText {
      opacity: 0;
      transform-origin: right;
      animation: textTransitionRight 1s ease 0.8s 1 normal forwards;
    }

    .bioTitle {
      font-variation-settings: "wght" 600;
      padding-bottom: var(--spacing-1);
    }

    .bioText {
      font-stretch: condensed;
      text-align: justify;
      max-width: 30ch;
      font-variation-settings: "wght" 250;
    }
  }
}

// ButtonsWrapper
.buttonsWrapper {
  display: flex;
  flex-direction: column;

  height: fit-content;
  min-width: 170px;

  .shoppingBagSVGWrapper {
    height: 25px;
    padding-right: 2.5px;
  }

  .arrowSVGWrapper {
    height: 25px;
    padding-top: 2.5px;
    padding-right: 2.5px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    .arrowSVGWrapper {
      // small animation or something
    }
  }
}

/* TopImage */
.topImageContainer {
  width: 100%;

  .topImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

/* UniqueTopSectionTitle */
.uniqueLeftTitleWrapper {
  .uniqueLeftTitle {
    overflow: hidden;

    .uniqueLeftTitleText {
      color: black;
      font-weight: 200;
      opacity: 0;
      font-size: clamp(30px, 6vw, 80px) !important;

      transform: translateY(150%) scaleY(1.65);
      transform-origin: bottom;

      &.first {
        animation: textTransitionUp 1s ease 0.5s 1 normal forwards;
      }

      &.second {
        animation: textTransitionUp 1s ease 0.8s 1 normal forwards;
      }
    }
  }
}

/* Title animation */
@keyframes textTransitionUp {
  from {
    transform: translateY(150%) scaleY(1.65);
    transform-origin: bottom;
  }

  to {
    transform: translate(0%) scaleY(1) scaleX(1);
    opacity: 1;
  }
}

/* Bio animation */
@keyframes textTransitionRight {
  from {
    opacity: 0;
    transform: translateX(-5%) scaleX(1.03);
  }

  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}
