// ProductInfo
.infoSection {
  padding: 0px var(--spacing-7);
  padding-right: 0px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  width: 100%;
  height: 100%;

  .closeWrapper {
    padding-top: var(--spacing-1);
    display: flex;
    justify-content: flex-end;
  }

  .productTitleAndBioWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: var(--spacing-4) 0px;
  }

  .addToCartWrapper {
  }
}

// QuickViewImageOptions
.allImagesExamples {
  width: fit-content;

  display: flex;

  align-items: center;
  gap: var(--spacing-1);
  flex-wrap: wrap;

  padding: var(--spacing-1) 0px;

  .borderContainer {
    overflow: hidden;

    padding: var(--spacing-1);

    transition: border 0.2s ease;
    will-change: border;

    .imageExample {
      width: var(--spacing-7);
      max-height: var(--spacing-7);

      cursor: pointer;

      object-fit: cover;
      object-position: center;
    }
  }

  .activeBorder {
    border: 1px solid var(--c-grey-300);
  }

  .inactiveBorder {
    border: 1px solid var(--c-grey-100);
  }
}
