@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Mrs+Saint+Delafield&family=Pinyon+Script&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  font-family: "Plus Jakarta Sans", sans-serif;

  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --websiteContainerColor: #f7f7f7;
  --transitionButtonColor: rgb(152, 211, 217);
  --tonedDownContainerColor: rgb(191, 196, 197);
  --pastelBlueColor: rgb(143, 172, 193);

  --fontColor: rgb(79, 79, 79);
  --navUnderlineColor: rgb(142, 142, 142);
}

/* BASIC CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove default list styles */
ul,
ol {
  list-style: none;
}

/* Remove default link styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Set core body defaults */
body {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  background-color: var(--websiteContainerColor);
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
}

// class to block scrolling --used in wheelOfManyImages.jsx
body.body--no-scroll {
  overflow: hidden;
  position: absolute;
  width: 100%;
}

/* Media elements reset */
img,
video {
  max-width: 100%;
  display: block;
}

/* Form elements inherit font */
input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 0;
  margin: 0;
}
