:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --websiteContainerColor: rgb(244, 253, 255);
  --transitionButtonColor: rgb(228, 238, 239);
  --tonedDownContainerColor: rgb(191, 196, 197);
  --fontColor: rgb(79, 79, 79);
}

/* BASIC CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove default list styles */
ul,
ol {
  list-style: none;
}

/* Remove default link styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Set core body defaults */
body {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  background-color: var(--websiteContainerColor);
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Media elements reset */
img,
video {
  max-width: 100%;
  display: block;
}

/* Form elements inherit font */
input,
button,
textarea,
select {
  font: inherit;
}
