.MainPageImageTwo {
  height: 400px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .imagesContainer {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .imageExample {
      width: 33.333%;
      height: 101%;
      object-fit: contain;
    }
  }
}
