.MainPageImageTwo {
  min-height: 600px;
  width: 100%;
  height: 600px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  .imagesContainer {
    height: 80%;
    width: 100%;

    overflow: hidden;

    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    .imageExample {
      max-width: 33%;
      min-height: 101%;

      object-fit: cover;
    }
  }
}

.elliesClass {
  width: 100%;
  height: 20%;

  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-weight: 200;
  }
}
