// PageSelector
.pageSelector {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0px var(--spacing-1);

  width: clamp(100px, 15vw, 130px);
  height: 30px;

  @media screen and (min-width: 1024px) {
  }
}

// PageNumbers
.currentPageWrapper {
  width: 100px;
  height: 100%;

  display: grid;
  justify-content: space-evenly;
  align-content: center;
  grid-template-columns: 30% 30% 30%;
}

// RightButton
// LeftButton
// all numbered buttons (1, 2, 3...)
.pageSelectorButton {
  border: none;
  outline: none;

  cursor: pointer;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: inherit;

  .btnText {
    width: 70%;
    height: 95%;
    color: var(--c-grey-400);
  }

  &:hover {
  }
}

.extraButton {
  width: 21px;
  height: 20px;
}

.backToZeroButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftButtonWrapper {
  height: var(--spacing-2);
}

.rightButtonWrapper {
  height: var(--spacing-2);
  transform: rotateY(180deg);
}

// BackToZeroButton
.pageSelectorButtonWrapper {
}
