// PageSelector
.pageSelector {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: var(--spacing-1);

  background-color: var(--c-grey-100);

  width: clamp(200px, 15vw, 220px);

  @media screen and (min-width: 1024px) {
  }
}

// PageNumbers
.currentPageWrapper {
  width: 100px;
  height: 100%;

  display: grid;
  justify-content: space-evenly;
  align-content: center;
  grid-template-columns: 30% 30% 30%;
}

// RightButton
// LeftButton
// all numbered buttons (1, 2, 3...)
.pageSelectorButton {
  border: none;
  outline: none;

  background-color: var(--c-grey-100);

  cursor: pointer;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  .btnText {
    width: 70%;
    height: 95%;
    color: var(--c-text-black);

    transition: filter 0.4s ease;

    filter: opacity(60%);
  }

  &:hover {
    .btnText {
      filter: opacity(100%);
    }
  }
}

.backToZeroButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftButtonWrapper {
  height: var(--spacing-2);
}

.rightButtonWrapper {
  height: var(--spacing-2);
  transform: rotateY(180deg);
}

// BackToZeroButton
.pageSelectorButtonWrapper {
}
