.home {
  .topSection {
  }

  .exploreNewInSection {
  }

  .setOfLatestItemSection {
  }

  .wheelOfManyImagesSection {
  }

  .serviceSection {
    @media screen and (max-width: 1024px) {
      /*
  * disable component for smaller screens *
  navigation requires mouse for smooth interaction
  so disabling it will lead to better user-experience for
  smaller screen
  */
      display: none !important;
    }
  }

  @media screen and (min-width: 650px) {
    .desktop {
      display: block;
    }

    .mobile {
      display: none;
    }
  }

  @media screen and (max-width: 650px) {
    .desktop {
      display: none;
    }

    .mobile {
      display: block;
    }
  }
}

.sectionSeperationWrapper {
  width: 100%;

  @media screen and (min-width: 1024px) {
    margin-top: var(--spacing-3);
    margin-bottom: var(--spacing-3);
    height: var(--spacing-8);

    &.lowMargin {
      height: var(--spacing-8);
      margin-bottom: 0px;
      margin-top: 0px;
    }
  }

  @media screen and (max-width: 1024px) {
    margin-top: var(--spacing-1);
    margin-bottom: var(--spacing-1);
    height: var(--spacing-5);

    &.lowMargin {
      height: var(--spacing-5);
      margin-bottom: 0px;
      margin-top: 0px;
    }
  }
}
