.contact {
  width: fit-content;
  padding: var(--spacing-3) 0px;
  .localSvgContainer {
    display: flex;
    .svgWrapper {
      display: flex;

      width: var(--spacing-3);
      margin-left: var(--spacing-1);

      &:first-child {
        margin-left: 0px;
      }
    }
  }
}

.SVGWrapper {
  display: flex;
  padding-top: 2px;
}

.section {
  height: 100%;

  display: flex;
  align-items: center;

  padding: var(--spacing-1) 0px;

  .link {
    padding: 0px var(--spacing-3);
  }
}
