// Contact
.contact {
  width: fit-content;
  padding: var(--spacing-3) 0px;

  .emailWrapper {
  }

  .socialMediaWrapper {
  }
}

// Section
.section {
  height: 100%;

  display: flex;
  align-items: center;

  padding: var(--spacing-1) 0px;

  .sectionWrapper {
    padding: 0px var(--spacing-2);

    display: flex;
    .link {
      padding: 0px var(--spacing-1);
      cursor: pointer;
    }
  }
}

// LocalSvgWrapper
.localSvgContainer {
  display: flex;
  .svgWrapper {
    display: flex;

    width: var(--spacing-3);

    &:first-child {
      margin-left: 0px;
    }
  }
}

// SVGWrapper
.SVGWrapper {
  display: flex;
  height: 20px;
}
