/* Services */
.servicesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-height: 700px;

  overflow: hidden;

  width: 100%;

  padding-bottom: 5vw;

  position: relative;
  // background-color: var(--pastelBlueColor);

  object-fit: cover;

  .leftSectionWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    position: absolute;
    top: 13%;
    left: 5%;
    z-index: 100;

    height: 70%;
    max-height: 600px;
  }

  .rightSectionWrapper {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width: 1024px) {
    display: none !important;
  }
}

/* RightSection */
.rightSection {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .imageWrapper {
    margin-top: 150px;
    min-width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    .image {
    }
  }
}

/* rightSection */
.rightScrollingText {
  width: 100%;
  height: 45px;
  overflow: hidden;

  left: 40%;
  bottom: 24%;

  position: absolute;

  .scrollingTextTitle {
    position: relative;
    height: 50%;
  }

  .scrollingTextBio {
    position: relative;
    height: 50%;
  }
}

/* rightSection */
.paintingWrapper {
  position: absolute;
  height: 22%;
  width: 9%;

  &.image0 {
    left: 43.5%;
    top: 33%;
  }

  &.image1 {
    left: 61.5%;
    top: 33%;
  }

  &.image2 {
    right: 11.5%;
    top: 33%;
  }

  .paintImage {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

/* leftSection */
.leftSection {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .buttonsWrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
