.prints {
  width: 100%;
  height: 100%;

  .sectionSeperationImage {
    height: 50px;
  }

  .titleWrapper {
    .title {
    }
  }

  .exampleCollectionSection {
  }

  .wheelImagesSection {
  }

  .exploreNewInSection {
  }

  .sectionSeperationImage {
  }
}
