.prints {
  width: 100%;
  height: 100%;

  .sectionSeperationImage {
    height: 50px;
  }
}

.titleContainer {
  .titleWrapper {
    .title {
    }
  }
}

.imagesTextContainer {
  height: 50px;

  .imagesTextWrapper {
    height: 100%;

    .textBioTitle {
      height: 50%;
    }

    .textBioBio {
      position: relative;
      height: 50%;
      overflow: hidden;
    }
  }
}

.imagesContainer {
  cursor: pointer;

  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 2px;
  padding-right: 2px;

  .imageWrapper {
    width: 30%;
  }
}
