// Gallery
.gallery {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .galleryTop {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
  }

  .extendedNavbarWrapper {
    overflow: hidden;
    position: sticky;

    z-index: 999999;

    display: flex;
    justify-content: flex-end;

    height: 75px;

    @media screen and (min-width: 1025px) {
      top: 100px;
    }

    @media screen and (max-width: 1024px) {
      top: 100px;
    }

    @media screen and (max-width: 650px) {
      top: 240px;
      position: absolute;
    }
  }

  .filterWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    .displayButton {
      cursor: pointer;
      z-index: 100;
      background-color: transparent;
      border: none;

      border-left: 1px solid black;
      padding: 0px var(--spacing-1);

      .text {
      }
    }
  }

  // productsWrapper
  .productsWrapper {
    width: 100%;
    display: grid; // display grid to place previous products & upcoming products in the same place
    padding-bottom: var(--spacing-3);
    padding-top: var(--spacing-2);

    // these are the old products which are displayed while loading
    .productsLoading {
      grid-column: 1;
      grid-row: 1;
    }

    // these are the new upcoming products when user changes <
    .productsLoaded {
      grid-column: 1;
      grid-row: 1;
    }

    .productsTransitioning {
      // opacity: 0.8;
      // pointer-events: none;
      // transition: opacity 10s ease;
    }

    @media screen and (max-width: 650px) {
      margin-top: 300px;
    }

    @media screen and (max-width: 444px) {
      margin-top: 400px;
    }

    @media screen and (max-width: 230px) {
      margin-top: 450px;
    }
  }

  // pageWrapper
  .pageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 11;
  }
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  .loadingBackground {
    width: 100%;
    height: 100%;

    background-color: rgba(255, 255, 255, 0.767);

    .loadingWrapper {
      width: 100px;

      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.popUpWrapper {
  transition: transform 0.4s ease, opacity 0.2s ease;
}
