// Gallery
.gallery {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .galleryTop {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
  }

  // filterSideBarWrapper
  .filterSideBarWrapper {
    position: sticky;

    z-index: 100;

    border-bottom: 0.5px solid var(--c-grey-200);

    background-color: rgba(255, 255, 255, 0.961);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    .filterWrapper {
      width: 100%;
      height: 100%;
    }

    @media screen and (min-width: 1025px) {
      top: 60px;
    }

    @media screen and (max-width: 1024px) {
      top: 100px;
    }

    @media screen and (max-width: 650px) {
      top: 95px;
    }

    @media screen and (max-width: 425px) {
      top: 90px;
    }
  }

  // productsWrapper
  .productsWrapper {
    width: 100%;
    display: grid; // display grid to place previous products & upcoming products in the same place
    padding-bottom: var(--spacing-3);
    padding-top: var(--spacing-2);

    // these are the old products which are displayed while loading
    .productsLoading {
      grid-column: 1;
      grid-row: 1;
    }

    // these are the new upcoming products when user changes filter
    .productsLoaded {
      grid-column: 1;
      grid-row: 1;
    }

    .productsTransitioning {
      // opacity: 0.8;
      // pointer-events: none;
      // transition: opacity 10s ease;
    }
  }

  // pageWrapper
  .pageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: var(--spacing-2);
  }
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  .loadingBackground {
    width: 100%;
    height: 100%;

    background-color: rgba(255, 255, 255, 0.767);

    .loadingWrapper {
      width: 100px;

      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
