// ContactUs
.contactUs {
  width: 100%;
  height: 100%;

  background-color: orange;

  // titleWrapper variable
  .titleWrapper {
    // titleWrapper variable
    .title {
    }
  }
}

// InputsWrapper
.inputsWrapper {
  //  fullNameWrapper variable
  .fullNameContainer {
  }

  // emailWrapper
  .emailContainer {
  }

  // messageWrapper
  .messageContainer {
  }
}

// InfoWrapper
.infoWrapper {
  // contactWrapper variable
  .contactWrapper {
  }

  // addressWrapper variable
  .addressWrapper {
  }
}
