.accessories {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  .accessoriesTitleWrapper {
    height: 100%;
    width: 100%;

    .title {
      font-variation-settings: "wght" 300;
      padding-bottom: 20px;
      font-size: 30px;
    }
  }
}

.titleContainer {
  font-variation-settings: "wght" 300;
}

.accessoriesContainer {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .accessoriesWrapper {
    width: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    .imageWrapper {
      height: 250px;
      width: 100%;
      overflow: hidden;

      .image {
        height: 100%;
        width: 100%;
        transition: transform 0.4s ease;

        &:hover {
          transform: scale(1.015);
        }
      }
    }
  }
}
