.categories {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  .categoriesTitleWrapper {
    height: 100%;
    width: 100%;

    .title {
      font-variation-settings: "wght" 300;
      padding-bottom: 1vw;
      font-size: 30px;
    }
  }
}

.titleContainer {
  font-variation-settings: "wght" 300;
}

.categoriesContainer {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: end;
  justify-content: space-between;

  .categoriesWrapper {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    background-color: rgb(189, 189, 189);

    .imageWrapper {
      height: clamp(100px, 10vw, 250px);
      width: 100%;
      overflow: hidden;

      .image {
        height: 100%;
        width: 100%;
        transition: transform 0.4s ease;

        &:hover {
          transform: scale(1.015);
        }
      }
    }
  }
}
