// FilterSideBar
.filterSideBar {
  .filterUl {
    width: 100%;
    display: flex;

    @media screen and (max-width: 1024px) {
      top: 110px;
    }

    .filterLi {
      margin: var(--spacing-2) var(--spacing-1);

      display: flex;
      align-items: center;

      .filterInput {
        display: none;
      }

      .filterButton {
        cursor: pointer;
        padding: calc(var(--spacing-1) / 2) var(--spacing-2);
        border-radius: 40px;

        background-color: var(--websiteContainerColor);
        transition: background-color 0.2s ease;
        border: 1px solid var(--c-grey-200);

        .text {
          font-variation-settings: "wght" 400;
        }
      }

      .filterButtonActive {
        background-color: var(--c-grey-300);
      }

      // class applied if button is clicked
      .activeFilter {
      }
    }

    .closeFilter {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @media screen and (max-width: 650px) {
    padding: 0px var(--spacing-3);
  }

  @media screen and (max-width: 450px) {
    padding: 0px var(--spacing-2);
  }

  @media screen and (max-width: 350px) {
    padding: 0px var(--spacing-1);
  }
}
