// FilterSideBar
.filterSideBar {
  padding: var(--spacing-1) 0px;

  .filterUl {
    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--spacing-2);

    @media screen and (max-width: 1024px) {
      top: 110px;
    }

    .filterLi {
      display: flex;
      align-items: center;

      position: relative;

      .filterInput {
        display: none;
      }

      .filterButton {
        background-color: inherit;
        cursor: pointer;

        border: none;

        position: relative;

        height: 30px;

        padding-bottom: 0px var(--spacing-1);

        .textWrapper {
          width: 100%;

          .text {
            color: var(--c-grey-500);
            transition: opacity 0.4s ease;
            transition-delay: 0.5s;
          }

          .activeText {
            transition: opacity 0.4s ease;
            position: absolute;

            top: 4.5px;
            left: 0px;

            letter-spacing: -0.015rem;

            font-variation-settings: "wght" 500;
          }
        }

        &:hover {
          .textWrapper {
            .text {
              transition: color 0.3s ease;
              color: black;
            }
          }
        }
      }
    }

    .closeFilter {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20px;
      width: 20px;
      margin-top: 3px;
    }
  }

  @media screen and (max-width: 650px) {
    padding: 0px var(--spacing-3);

    .filterUl {
      flex-wrap: wrap;
    }
  }

  @media screen and (max-width: 425px) {
    padding: 0px var(--spacing-2);
  }

  @media screen and (max-width: 350px) {
    padding: 0px var(--spacing-1);
  }
}
