// FilterSideBar
.filterSideBar {
  .filterUl {
    width: 100%;
    display: flex;
    align-items: center;

    @media screen and (max-width: 1024px) {
      top: 110px;
    }

    .filterLi {
      display: flex;
      align-items: center;

      position: relative;

      .filterInput {
        display: none;
      }

      .filterButton {
        background-color: inherit;
        cursor: pointer;

        border: none;

        position: relative;

        height: 30px;
        width: fit-content;
        padding: 0px var(--spacing-1);

        .textWrapper {
          width: 100%;

          .text {
            color: var(--c-grey-500);

            transition: color 0.3s ease, font-variation-settings 5s ease-in-out;
          }
        }

        &:hover {
          .textWrapper {
            .text {
              transition: color 0.3s ease;
              color: black;
            }
          }
        }
      }

      .filterButtonActive {
        .textWrapper {
          .text {
            color: black;
            font-variation-settings: "wght" 400;
          }
        }
      }

      // class applied if button is clicked
      .activeFilter {
      }
    }

    .closeFilter {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20px;
      width: 20px;
      margin-top: 3px;
    }
  }

  @media screen and (max-width: 650px) {
    padding: 0px var(--spacing-3);

    .filterUl {
      flex-wrap: wrap;
    }
  }

  @media screen and (max-width: 425px) {
    padding: 0px var(--spacing-2);
  }

  @media screen and (max-width: 350px) {
    padding: 0px var(--spacing-1);
  }
}
